Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-001] Fix frontend voice unit tests with proper mocks
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix frontend voice unit tests with proper mocks
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix frontend voice unit tests with proper mocks
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix TypeScript errors in frontend voice tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix TypeScript errors in frontend voice tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix TypeScript errors in frontend voice tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix voice unit tests workflow - remove coverage for non-existent module
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice unit tests workflow - remove coverage for non-existent module
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice unit tests workflow - remove coverage for non-existent module
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice unit tests coverage requirement
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice unit tests coverage requirement
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice unit tests coverage requirement
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Add Firefox and WebKit projects to Playwright config
  playwright-js/playwright.config.ts
Labels: none

[ALL-001] Add Firefox and WebKit projects to Playwright config
  playwright-js/playwright.config.ts
Labels: none

[ALL-001] Add Firefox and WebKit projects to Playwright config
  playwright-js/playwright.config.ts
Labels: none

[ALL-001] Fix frontend network resilience test
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix frontend network resilience test
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix frontend network resilience test
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix remaining voice test issues
  .github/workflows/voice-tests.yml
  playwright-js/tests/voice-network-resilience.spec.js
Labels: infrastructure, audio

[ALL-001] Fix remaining voice test issues
  .github/workflows/voice-tests.yml
  playwright-js/tests/voice-network-resilience.spec.js
Labels: infrastructure, audio

[ALL-001] Fix remaining voice test issues
  .github/workflows/voice-tests.yml
  playwright-js/tests/voice-network-resilience.spec.js
Labels: infrastructure, audio

[ALL-001] Increase timeout for Firefox offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Increase timeout for Firefox offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Increase timeout for Firefox offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Simplify offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Simplify offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Simplify offline scenario test
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix Voice E2E Tests to run only on chromium
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Voice E2E Tests to run only on chromium
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Voice E2E Tests to run only on chromium
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix voice network resilience tests for WebKit and offline scenarios
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix voice network resilience tests for WebKit and offline scenarios
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix voice network resilience tests for WebKit and offline scenarios
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix Voice Tests Summary GitHub Actions permissions
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Voice Tests Summary GitHub Actions permissions
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Voice Tests Summary GitHub Actions permissions
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Voice E2E offline scenario test reliability
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix Voice E2E offline scenario test reliability
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix Voice E2E offline scenario test reliability
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Add error.txt to .gitignore
  .gitignore
Labels: none

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
