Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[FE-147] feat: configure frontend local environment
  frontend/README.md
  frontend/app/api/health/route.ts
Labels: documentation

[FE-147] feat: configure frontend local environment
  frontend/.env.local.example
  frontend/README.md
  frontend/app/api/health/route.ts
Labels: documentation

[FE-147] feat: configure frontend local environment
  frontend/README.md
  frontend/app/api/health/route.ts
Labels: documentation

[FE-149] feat: add minimal PDF download functionality for local testing
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/audio/conversation/types.ts
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-149] feat: add minimal PDF download functionality for local testing
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/audio/conversation/types.ts
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-149] feat: add minimal PDF download functionality for local testing
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/audio/conversation/types.ts
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-149] fix: address PR feedback from Copilot
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/ui/PdfDownloadButton.tsx
Labels: audio

[FE-149] fix: address PR feedback from Copilot
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/ui/PdfDownloadButton.tsx
Labels: audio

[FE-149] fix: address PR feedback from Copilot
  backend/src/main.py
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/SessionEndView.tsx
  frontend/components/ui/PdfDownloadButton.tsx
Labels: audio

[BE-149] fix: remove redundant Content-Type header from PDF endpoint
  backend/src/main.py
Labels: none

[BE-149] fix: remove redundant Content-Type header from PDF endpoint
  backend/src/main.py
Labels: none

[BE-149] fix: remove redundant Content-Type header from PDF endpoint
  backend/src/main.py
Labels: none

[FE-150] feat: add comprehensive audio format documentation
  frontend/docs/AUDIO_FORMAT_SPECIFICATION.md
  frontend/docs/AUDIO_TROUBLESHOOTING_GUIDE.md
  frontend/docs/BROWSER_COMPATIBILITY.md
  frontend/docs/README.md
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/index.ts
  frontend/lib/streaming/message-protocol.ts
Labels: documentation, audio

[FE-150] feat: add comprehensive audio format documentation
  frontend/docs/AUDIO_FORMAT_SPECIFICATION.md
  frontend/docs/AUDIO_TROUBLESHOOTING_GUIDE.md
  frontend/docs/BROWSER_COMPATIBILITY.md
  frontend/docs/README.md
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/index.ts
  frontend/lib/streaming/message-protocol.ts
Labels: documentation, audio

[FE-150] feat: add comprehensive audio format documentation
  frontend/docs/AUDIO_FORMAT_SPECIFICATION.md
  frontend/docs/AUDIO_TROUBLESHOOTING_GUIDE.md
  frontend/docs/BROWSER_COMPATIBILITY.md
  frontend/docs/README.md
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/index.ts
  frontend/lib/streaming/message-protocol.ts
Labels: documentation, audio

[FE-150] fix: resolve TypeScript error in audio-debug.ts
  frontend/lib/audio/audio-debug.ts
Labels: audio

[FE-150] fix: resolve TypeScript error in audio-debug.ts
  frontend/lib/audio/audio-debug.ts
Labels: audio

[FE-150] fix: resolve TypeScript error in audio-debug.ts
  frontend/lib/audio/audio-debug.ts
Labels: audio

[ALL-182] Complete API alignment between frontend and backend
  .gitignore
  Dockerfile.playwright
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
  docker-compose.test.yml
  docker-compose.yml
  docs/INTEGRATION_TESTING_GUIDE.md
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/index.ts
  frontend/lib/socket.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  package.json
  playwright.config.ts
  scripts/test-integration.sh
  tests/e2e/README.md
  tests/e2e/full-workflow.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-182] Complete API alignment between frontend and backend
  .gitignore
  Dockerfile.playwright
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
  docker-compose.test.yml
  docker-compose.yml
  docs/INTEGRATION_TESTING_GUIDE.md
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/index.ts
  frontend/lib/socket.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  package.json
  playwright.config.ts
  scripts/test-integration.sh
  tests/e2e/README.md
  tests/e2e/full-workflow.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-182] Complete API alignment between frontend and backend
  .gitignore
  Dockerfile.playwright
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
  docker-compose.test.yml
  docker-compose.yml
  docs/INTEGRATION_TESTING_GUIDE.md
  frontend/.env.local.example
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/index.ts
  frontend/lib/socket.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  package.json
  playwright.config.ts
  scripts/test-integration.sh
  tests/e2e/README.md
  tests/e2e/full-workflow.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-182] Fix API endpoint paths and hydration warnings
  backend/src/agents/cbt_assistant.py
  docs/TESTING_API_ALIGNMENT.md
  frontend/app/layout.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/sse-client.ts
Labels: documentation, audio

[ALL-182] Fix API endpoint paths and hydration warnings
  backend/src/agents/cbt_assistant.py
  docs/TESTING_API_ALIGNMENT.md
  frontend/app/layout.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/sse-client.ts
Labels: documentation, audio

[ALL-182] Fix API endpoint paths and hydration warnings
  backend/src/agents/cbt_assistant.py
  docs/TESTING_API_ALIGNMENT.md
  frontend/app/layout.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/sse-client.ts
Labels: documentation, audio

[BE-182] Fix import paths for src module structure
  backend/src/main.py
Labels: none

[BE-182] Fix import paths for src module structure
  backend/src/main.py
Labels: none

[BE-182] Fix import paths for src module structure
  backend/src/main.py
Labels: none

[FE-182] Connect main page to backend via SSE
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
Labels: documentation

[FE-182] Connect main page to backend via SSE
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
Labels: documentation

[FE-182] Connect main page to backend via SSE
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
Labels: documentation

[FE-182]
  backend/tests/test_cbt_assistant.py
Labels: none

[FE-182]
  backend/tests/test_cbt_assistant.py
Labels: none

[FE-182]
  backend/tests/test_cbt_assistant.py
Labels: none

[ALL-182] Fix failing tests in CI/CD
  backend/tests/test_cbt_assistant.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[ALL-182] Fix failing tests in CI/CD
  backend/tests/test_cbt_assistant.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[ALL-182] Fix failing tests in CI/CD
  backend/tests/test_cbt_assistant.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[ALL-182] Fix API alignment issues between frontend and backend
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: none

[ALL-182] Fix API alignment issues between frontend and backend
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: none

[ALL-182] Fix API alignment issues between frontend and backend
  frontend/app/page.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: none

[ALL-182] Fix TypeScript errors in frontend
  debug-sse.html
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/streaming-utils.ts
  test-api-flow.sh
  test-sse.sh
Labels: audio

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
