Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[BE-001] Fix uncommitted test changes
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

[BE-001] Fix uncommitted test changes
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

[BE-001] Fix E2E tests - use docker compose instead of docker-compose
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[BE-001] Fix E2E tests - use docker compose instead of docker-compose
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[BE-001] Fix E2E tests - use docker compose instead of docker-compose
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[BE-001] Fix E2E tests - add missing aiohttp dependency
  tests/e2e/requirements.txt
Labels: none

[BE-001] Fix E2E tests - add missing aiohttp dependency
  tests/e2e/requirements.txt
Labels: none

[BE-001] Fix E2E tests - add missing aiohttp dependency
  tests/e2e/requirements.txt
Labels: none

[BE-001] Add test infrastructure and coverage improvements
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  coverage.xml
  docs/TDD_TEST_REVIEW.md
  sitecustomize.py
  tests/__init__.py
  tests/e2e/__init__.py
Labels: documentation

[BE-001] Add test infrastructure and coverage improvements
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  coverage.xml
  docs/TDD_TEST_REVIEW.md
  sitecustomize.py
  tests/__init__.py
  tests/e2e/__init__.py
Labels: documentation

[BE-001] Add test infrastructure and coverage improvements
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  coverage.xml
  docs/TDD_TEST_REVIEW.md
  sitecustomize.py
  tests/__init__.py
  tests/e2e/__init__.py
Labels: documentation

[ALL-001] Refactor imports and improve code consistency across test files
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  tests/__init__.py
Labels: none

[ALL-001] Refactor imports and improve code consistency across test files
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  tests/__init__.py
Labels: none

[ALL-001] Refactor imports and improve code consistency across test files
  backend/sitecustomize.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_manager.py
  tests/__init__.py
Labels: none

[BE-002] Add package-lock.json and update package.json dependencies
  package-lock.json
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-002] Add package-lock.json and update package.json dependencies
  package-lock.json
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-002] Add package-lock.json and update package.json dependencies
  package-lock.json
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-003] Enhance E2E testing setup and import handling
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-003] Enhance E2E testing setup and import handling
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-003] Enhance E2E testing setup and import handling
  package.json
  tests/e2e/__init__.py
Labels: infrastructure

[BE-004] Update dependencies and improve Playwright configuration
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/__init__.py
Labels: frontend, infrastructure

[BE-004] Update dependencies and improve Playwright configuration
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/__init__.py
Labels: frontend, infrastructure

[BE-004] Update dependencies and improve Playwright configuration
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e/__init__.py
Labels: frontend, infrastructure

[BE-004] Fix SSE timeout by switching from live streaming to request-response pattern
  CLAUDE.md
  backend/pyproject.toml
  backend/src/agents/cbt_assistant.py
  backend/src/agents/phase_manager.py
  backend/src/main.py
  backend/src/utils/logging.py
  backend/uv.lock
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/logger.ts
  package.json
  playwright-js/playwright.config.ts
  playwright-js/tests/full-workflow.spec.ts
  tests/e2e/pages/home_page.py
Labels: documentation, infrastructure

[BE-004] Fix SSE timeout by switching from live streaming to request-response pattern
  CLAUDE.md
  backend/pyproject.toml
  backend/src/agents/cbt_assistant.py
  backend/src/agents/phase_manager.py
  backend/src/main.py
  backend/src/utils/logging.py
  backend/uv.lock
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/logger.ts
  package.json
  playwright-js/playwright.config.ts
  playwright-js/tests/full-workflow.spec.ts
  tests/e2e/pages/home_page.py
Labels: documentation, infrastructure

[BE-004] Fix SSE timeout by switching from live streaming to request-response pattern
  CLAUDE.md
  backend/pyproject.toml
  backend/src/agents/cbt_assistant.py
  backend/src/agents/phase_manager.py
  backend/src/main.py
  backend/src/utils/logging.py
  backend/uv.lock
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/logger.ts
  package.json
  playwright-js/playwright.config.ts
  playwright-js/tests/full-workflow.spec.ts
  tests/e2e/pages/home_page.py
Labels: documentation, infrastructure

[BE-004] Fix test to expect gemini-2.0-flash model
  backend/tests/test_cbt_assistant.py
Labels: none

[BE-004] Fix test to expect gemini-2.0-flash model
  backend/tests/test_cbt_assistant.py
Labels: none

[BE-004] Fix test to expect gemini-2.0-flash model
  backend/tests/test_cbt_assistant.py
Labels: none

[BE-004] Fix tests for new request-response architecture
  backend/tests/test_main.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[BE-004] Fix tests for new request-response architecture
  backend/tests/test_main.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[BE-004] Fix tests for new request-response architecture
  backend/tests/test_main.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[BE-005] Apply black formatting to test_main.py
  backend/tests/test_main.py
Labels: none

[BE-005] Apply black formatting to test_main.py
  backend/tests/test_main.py
Labels: none

[BE-005] Apply black formatting to test_main.py
  backend/tests/test_main.py
Labels: none

[ALL-002] Fix E2E tests for new request-response architecture
  tests/e2e/tests/test_conversation_flow.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[ALL-002] Fix E2E tests for new request-response architecture
  tests/e2e/tests/test_conversation_flow.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[ALL-002] Fix E2E tests for new request-response architecture
  tests/e2e/tests/test_conversation_flow.py
  tests/e2e/tests/test_text_reframing.py
Labels: none

[BE-006] Add language support to CBT assistant
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
Labels: none

[BE-006] Add language support to CBT assistant
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
Labels: none

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
