Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[BE-006] Add language support to CBT assistant
  backend/src/agents/cbt_assistant.py
  backend/src/main.py
Labels: none

[ALL-001] Implement voice modality testing infrastructure
  CLAUDE.md
  backend/src/config.py
  backend/src/main.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/mocks/__init__.py
  backend/tests/mocks/audio_mocks.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  docs/VOICE_MODALITY_DIAGNOSTIC.md
  docs/VOICE_MODALITY_TESTING_STRATEGY.md
  frontend/lib/audio/use-natural-conversation.ts
  frontend/test-utils/audio-helpers.ts
  frontend/test-utils/index.ts
Labels: documentation, audio

[ALL-001] Implement voice modality testing infrastructure
  CLAUDE.md
  backend/src/config.py
  backend/src/main.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/mocks/__init__.py
  backend/tests/mocks/audio_mocks.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  docs/VOICE_MODALITY_DIAGNOSTIC.md
  docs/VOICE_MODALITY_TESTING_STRATEGY.md
  frontend/lib/audio/use-natural-conversation.ts
  frontend/test-utils/audio-helpers.ts
  frontend/test-utils/index.ts
Labels: documentation, audio

[ALL-001] Implement voice modality testing infrastructure
  CLAUDE.md
  backend/src/config.py
  backend/src/main.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/mocks/__init__.py
  backend/tests/mocks/audio_mocks.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  docs/VOICE_MODALITY_DIAGNOSTIC.md
  docs/VOICE_MODALITY_TESTING_STRATEGY.md
  frontend/lib/audio/use-natural-conversation.ts
  frontend/test-utils/audio-helpers.ts
  frontend/test-utils/index.ts
Labels: documentation, audio

[ALL-001] Fix black formatting in main.py
  backend/src/main.py
Labels: none

[ALL-001] Fix black formatting in main.py
  backend/src/main.py
Labels: none

[ALL-001] Fix black formatting in main.py
  backend/src/main.py
Labels: none

[ALL-001] Fix ruff SIM117 linting errors in test files
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
Labels: audio

[ALL-001] Fix ruff SIM117 linting errors in test files
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
Labels: audio

[ALL-001] Fix ruff SIM117 linting errors in test files
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
Labels: audio

[ALL-001] Complete Phase 0 voice modality implementation
  CLAUDE.md
  Makefile
  frontend/CLAUDE.md
  frontend/app/layout.tsx
  frontend/components/test/TestSetup.tsx
  scripts/update-claude-docs.sh
Labels: documentation

[ALL-001] Complete Phase 0 voice modality implementation
  CLAUDE.md
  Makefile
  frontend/CLAUDE.md
  frontend/app/layout.tsx
  frontend/components/test/TestSetup.tsx
  scripts/update-claude-docs.sh
Labels: documentation

[ALL-001] Complete Phase 0 voice modality implementation
  CLAUDE.md
  Makefile
  frontend/CLAUDE.md
  frontend/app/layout.tsx
  frontend/components/test/TestSetup.tsx
  scripts/update-claude-docs.sh
Labels: documentation

[ALL-001] Implement Phase 1 voice modality core functionality
  backend/src/main.py
  backend/tests/test_audio_error_handling.py
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Implement Phase 1 voice modality core functionality
  backend/src/main.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_security.py
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Implement Phase 1 voice modality core functionality
  backend/src/main.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_security.py
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Add audio quality validation tests for voice modality
  backend/src/main.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/test_audio_quality.py
Labels: audio

[ALL-001] Add audio quality validation tests for voice modality
  backend/src/main.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/test_audio_quality.py
  backend/tests/test_audio_security.py
Labels: audio

[ALL-001] Add audio quality validation tests for voice modality
  backend/src/main.py
  backend/tests/fixtures/audio_samples.py
  backend/tests/test_audio_quality.py
  backend/tests/test_audio_security.py
Labels: audio

[ALL-001] Add network resilience E2E tests for voice modality
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Add network resilience E2E tests for voice modality
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Add network resilience E2E tests for voice modality
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Add CI/CD workflows for voice modality tests
  .github/workflows/ci-monorepo.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Add CI/CD workflows for voice modality tests
  .github/workflows/ci-monorepo.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Add CI/CD workflows for voice modality tests
  .github/workflows/ci-monorepo.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Implement comprehensive load and concurrency tests for voice modality
  backend/pyproject.toml
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
Labels: audio

[ALL-001] Implement comprehensive load and concurrency tests for voice modality
  backend/pyproject.toml
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
Labels: audio

[ALL-001] Implement comprehensive load and concurrency tests for voice modality
  backend/pyproject.toml
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
Labels: audio

[ALL-001] Complete voice modality testing infrastructure
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/performance_monitor.py
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_quality.py
  backend/tests/test_audio_security.py
  docker-compose.integration.yml
  docker-compose.perf.yml
  docs/VOICE_MODALITY_CI_CD.md
  monitoring/grafana/dashboards/voice-modality.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  scripts/analyze_performance.py
  scripts/wait-for-services.sh
  tests/load/k6/voice-load-test.js
Labels: documentation, audio, performance

[ALL-001] Complete voice modality testing infrastructure
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/performance_monitor.py
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_quality.py
  docker-compose.integration.yml
  docker-compose.perf.yml
  docs/VOICE_MODALITY_CI_CD.md
  monitoring/grafana/dashboards/voice-modality.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  scripts/analyze_performance.py
  scripts/wait-for-services.sh
  tests/load/k6/voice-load-test.js
Labels: documentation, audio, performance

[ALL-001] Complete voice modality testing infrastructure
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/performance_monitor.py
  backend/tests/load/__init__.py
  backend/tests/load/run_load_test.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_quality.py
  backend/tests/test_audio_security.py
  docker-compose.integration.yml
  docker-compose.perf.yml
  docs/VOICE_MODALITY_CI_CD.md
  monitoring/grafana/dashboards/voice-modality.json
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus.yml
  scripts/analyze_performance.py
  scripts/wait-for-services.sh
  tests/load/k6/voice-load-test.js
Labels: documentation, audio, performance

[ALL-001] Fix TypeScript errors in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix TypeScript errors in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix TypeScript errors in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix method names in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix method names in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix method names in browser compatibility tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix getUserMedia constraint expectations in tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix getUserMedia constraint expectations in tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

[ALL-001] Fix getUserMedia constraint expectations in tests
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
Labels: testing, audio

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
