Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-205] Fix gcloud env vars syntax error
  .github/workflows/release-deploy.yml
  docs/WORKLOAD_IDENTITY_FEDERATION.md
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure

[ALL-205] Fix gcloud env vars syntax error
  .github/workflows/release-deploy.yml
  docs/WORKLOAD_IDENTITY_FEDERATION.md
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure

[ALL-206] Switch from GitHub Container Registry to Google Artifact Registry
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-206] Switch from GitHub Container Registry to Google Artifact Registry
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-206] Switch from GitHub Container Registry to Google Artifact Registry
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-212] Fix SSE connection management and prevent duplicate connections
  PR_195_REVIEW_REPORT.md
  backend/src/main.py
  debug-sse.html
  frontend/app/demo/error-boundary/page.tsx
  frontend/app/demo/loading-states/page.tsx
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/ThoughtInputForm.tsx
  sprint.md
  test-api-flow.sh
  test-sse.sh
Labels: documentation, audio

[ALL-212] Fix SSE connection management and prevent duplicate connections
  PR_195_REVIEW_REPORT.md
  backend/src/main.py
  debug-sse.html
  frontend/app/demo/error-boundary/page.tsx
  frontend/app/demo/loading-states/page.tsx
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/ThoughtInputForm.tsx
  sprint.md
  test-api-flow.sh
  test-sse.sh
Labels: documentation, audio

[ALL-212] Fix SSE connection management and prevent duplicate connections
  PR_195_REVIEW_REPORT.md
  backend/src/main.py
  debug-sse.html
  frontend/app/demo/error-boundary/page.tsx
  frontend/app/demo/loading-states/page.tsx
  frontend/app/demo/page.tsx
  frontend/app/page.tsx
  frontend/components/audio/conversation/ConversationDemo.tsx
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/audio/conversation/index.ts
  frontend/components/forms/ThoughtInputForm.tsx
  sprint.md
  test-api-flow.sh
  test-sse.sh
Labels: documentation, audio

[ALL-213] Fix Docker image tagging mismatch in deployment workflow
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Fix Docker image tagging mismatch in deployment workflow
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Fix Docker image tagging mismatch in deployment workflow
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Apply conditional latest tag based on PR feedback
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Apply conditional latest tag based on PR feedback
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Apply conditional latest tag based on PR feedback
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Revert authentication to Workload Identity Federation
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Revert authentication to Workload Identity Federation
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-213] Revert authentication to Workload Identity Federation
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-205] Enhance UX and backend functionality
  backend/src/agents/__init__.py
  backend/src/agents/cbt_assistant.py
  backend/src/agents/orchestrator.py
  backend/src/agents/phase_manager.py
  backend/src/agents/utils/__init__.py
  backend/src/agents/utils/intent.py
  backend/src/agents/utils/summarizer.py
  backend/src/main.py
  backend/src/models/gemini_client.py
  backend/src/routers/asr.py
  backend/src/routers/websocket.py
  frontend/app/page.tsx
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/PhaseAwareFinish.tsx
  frontend/src/components/PhasePill.tsx
  frontend/src/components/QuickReplies.tsx
  frontend/src/components/SkeletonLoader.tsx
  frontend/src/hooks/useSpeechInput.ts
  google/__init__.py
  langdetect/__init__.py
  package-lock.json
  patch.txt
  reframe_ux_full.patch
Labels: audio

Update release-deploy.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

Update release-deploy.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

Update release-deploy.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-205] Add test infrastructure stubs
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
Labels: none

[ALL-205] Add test infrastructure stubs
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
Labels: none

[ALL-205] Add test infrastructure stubs
  backend/tests/conftest.py
  backend/tests/stubs/google/__init__.py
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
Labels: none

[BE-001] Fix SSE connection timeout with backend heartbeats
  backend/src/main.py
  docs/SSE_CONNECTION_FIX_IMPLEMENTATION_RESULTS.md
  docs/SSE_CONNECTION_FIX_PROPOSAL.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

[BE-001] Fix SSE connection timeout with backend heartbeats
  backend/src/main.py
  docs/SSE_CONNECTION_FIX_IMPLEMENTATION_RESULTS.md
  docs/SSE_CONNECTION_FIX_PROPOSAL.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

[BE-001] Fix SSE connection timeout with backend heartbeats
  backend/src/main.py
  docs/SSE_CONNECTION_FIX_IMPLEMENTATION_RESULTS.md
  docs/SSE_CONNECTION_FIX_PROPOSAL.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

Update tests/e2e/tests/test_simple_heartbeat_check.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: none

Update tests/e2e/tests/test_simple_heartbeat_check.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: none

Update tests/e2e/tests/test_simple_heartbeat_check.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: none

[BE-001] Address additional PR review comments
  frontend/docs/archive/API_CLIENT_MIGRATION.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

[BE-001] Address additional PR review comments
  frontend/docs/archive/API_CLIENT_MIGRATION.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

[BE-001] Address additional PR review comments
  frontend/docs/archive/API_CLIENT_MIGRATION.md
  tests/e2e/tests/test_heartbeat_prevents_timeout.py
  tests/e2e/tests/test_simple_heartbeat_check.py
Labels: documentation

[BE-001] Fix CI failures - convert vitest to jest and fix EventSource mock
  Makefile
  README.md
  docker-compose.integration.yml
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
  scripts/test-integration.sh
Labels: testing, documentation

[BE-001] Fix CI failures - convert vitest to jest and fix EventSource mock
  Makefile
  README.md
  docker-compose.integration.yml
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
  scripts/test-integration.sh
Labels: testing, documentation

[BE-001] Fix CI failures - convert vitest to jest and fix EventSource mock
  Makefile
  README.md
  docker-compose.integration.yml
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
  scripts/test-integration.sh
Labels: testing, documentation

[BE-001] Fix CI failures - remove langdetect stub and fix TypeScript errors
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
  file-naming-analysis.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
Labels: testing, documentation

[BE-001] Fix CI failures - remove langdetect stub and fix TypeScript errors
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
  file-naming-analysis.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
Labels: testing, documentation

[BE-001] Fix CI failures - remove langdetect stub and fix TypeScript errors
  backend/tests/stubs/langdetect/__init__.py
  backend/tests/test_stubs.py
  file-naming-analysis.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/streaming/__tests__/sse-client-heartbeat.test.ts
Labels: testing, documentation

[BE-001] Fix uncommitted test changes
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
