Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

[ALL-182] Fix TypeScript errors in frontend
  debug-sse.html
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/streaming-utils.ts
  test-api-flow.sh
  test-sse.sh
Labels: audio

[ALL-182] Fix TypeScript errors in frontend
  debug-sse.html
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/streaming-utils.ts
  test-api-flow.sh
  test-sse.sh
Labels: audio

[FE-191] Implement bidirectional voice conversation feature
  README.md
  backend/src/main.py
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/RecordButton.tsx
  frontend/lib/audio/__tests__/audio-types.test.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-pcm-recorder.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/pnpm-lock.yaml
  frontend/public/worklets/pcm-recorder-processor.js
Labels: testing, documentation, audio

[FE-191] Implement bidirectional voice conversation feature
  README.md
  backend/src/main.py
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/RecordButton.tsx
  frontend/lib/audio/__tests__/audio-types.test.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-pcm-recorder.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/pnpm-lock.yaml
  frontend/public/worklets/pcm-recorder-processor.js
Labels: testing, documentation, audio

[FE-191] Implement bidirectional voice conversation feature
  README.md
  backend/src/main.py
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/RecordButton.tsx
  frontend/lib/audio/__tests__/audio-types.test.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-pcm-recorder.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/use-sse-client.ts
  frontend/pnpm-lock.yaml
  frontend/public/worklets/pcm-recorder-processor.js
Labels: testing, documentation, audio

[FE-191] Fix CI tests - skip audio tests after moving to voice mode
  backend/src/main.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[FE-191] Fix CI tests - skip audio tests after moving to voice mode
  backend/src/main.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[FE-191] Fix CI tests - skip audio tests after moving to voice mode
  backend/src/main.py
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, audio

[FE-191] Address PR review comments
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[FE-191] Address PR review comments
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[FE-191] Address PR review comments
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[FE-191] Remove debug console.log from RecordButton
  frontend/components/ui/RecordButton.tsx
Labels: none

[FE-191] Remove debug console.log from RecordButton
  frontend/components/ui/RecordButton.tsx
Labels: none

[FE-191] Remove debug console.log from RecordButton
  frontend/components/ui/RecordButton.tsx
Labels: none

[FE-191] Address additional PR review comments
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address additional PR review comments
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address additional PR review comments
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address PR review comments - improve code quality
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address PR review comments - improve code quality
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address PR review comments - improve code quality
  frontend/app/page.tsx
  frontend/components/audio/ContinuousAudioStream.tsx
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/audio-worklet-processor.js
  frontend/lib/streaming/use-sse-client.ts
Labels: audio

[FE-191] Address additional PR review comments
  backend/src/main.py
Labels: none

[FE-191] Address additional PR review comments
  backend/src/main.py
Labels: none

[FE-191] Address additional PR review comments
  backend/src/main.py
Labels: none

[FE-191] Address inline PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Address inline PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Address inline PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Fix CI/CD failures - formatting and TypeScript errors
  backend/src/main.py
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Fix CI/CD failures - formatting and TypeScript errors
  backend/src/main.py
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Fix CI/CD failures - formatting and TypeScript errors
  backend/src/main.py
  frontend/lib/audio/pcm-player.ts
Labels: audio

[FE-191] Fix backend import ordering for isort check
  backend/src/main.py
Labels: none

[FE-191] Fix backend import ordering for isort check
  backend/src/main.py
Labels: none

[FE-191] Fix backend import ordering for isort check
  backend/src/main.py
Labels: none

[FE-191] Address PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Address PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Address PR review comments - improve code quality
  frontend/components/audio/NaturalConversation.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Fix SSE connection flood and audio endpoint issues
  frontend/app/page.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Fix SSE connection flood and audio endpoint issues
  frontend/app/page.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Fix SSE connection flood and audio endpoint issues
  frontend/app/page.tsx
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Create centralized API module structure
  PR_195_REVIEW_REPORT.md
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/errors.ts
  frontend/lib/api/index.ts
  frontend/lib/api/types.ts
  frontend/lib/utils/session.ts
Labels: documentation

[FE-191] Create centralized API module structure
  PR_195_REVIEW_REPORT.md
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/errors.ts
  frontend/lib/api/index.ts
  frontend/lib/api/types.ts
  frontend/lib/utils/session.ts
Labels: documentation
