Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

[ALL-003] feat: Implement feature flag service with ConfigCat integration
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/feature_flags.py
  backend/src/utils/feature_flags/__init__.py
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/protocols.py
  backend/src/utils/feature_flags/service.py
  backend/src/voice/__init__.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
  backend/tests/test_main.py
  backend/tests/test_session_language.py
  backend/uv.lock
  docker-compose.yml
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/lib/api/featureFlags.ts
  recovery-context-dump.md
Labels: testing, documentation

[ALL-003] feat: Implement feature flag service with ConfigCat integration
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/feature_flags.py
  backend/src/utils/feature_flags/__init__.py
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/protocols.py
  backend/src/utils/feature_flags/service.py
  backend/src/voice/__init__.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
  backend/tests/test_main.py
  backend/tests/test_session_language.py
  backend/uv.lock
  docker-compose.yml
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/lib/api/featureFlags.ts
  recovery-context-dump.md
Labels: testing, documentation

[ALL-003] feat: Implement feature flag service with ConfigCat integration
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/feature_flags.py
  backend/src/utils/feature_flags/__init__.py
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/protocols.py
  backend/src/utils/feature_flags/service.py
  backend/src/voice/__init__.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
  backend/tests/test_main.py
  backend/tests/test_session_language.py
  backend/uv.lock
  docker-compose.yml
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/lib/api/featureFlags.ts
  recovery-context-dump.md
Labels: testing, documentation

[FE-001] fix: Reduce button size for mobile optimization
  frontend/components/ui/Button.tsx
  frontend/components/ui/__tests__/Button.test.tsx
Labels: testing

[FE-001] fix: Reduce button size for mobile optimization
  frontend/components/ui/Button.tsx
  frontend/components/ui/__tests__/Button.test.tsx
Labels: testing

[FE-002] fix: Simplify language selector label and make it more compact
  frontend/components/ui/Button.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/LanguageSelector.test.tsx
Labels: testing

[FE-002] fix: Simplify language selector label and make it more compact
  frontend/components/ui/Button.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/LanguageSelector.test.tsx
Labels: testing

[FE-002] fix: Simplify language selector label and make it more compact
  frontend/components/ui/Button.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/components/ui/__tests__/LanguageSelector.test.tsx
Labels: testing

[FE-003] fix: Remove interface selector header text from home page
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
Labels: testing

[FE-003] fix: Remove interface selector header text from home page
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
Labels: testing

[FE-003] fix: Remove interface selector header text from home page
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
Labels: testing

[ALL-004] Change B1: Update crisis resources to three international resources
  frontend/CLAUDE.md
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing, documentation

[ALL-004] Change B1: Update crisis resources to three international resources
  frontend/CLAUDE.md
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing, documentation

[ALL-004] Change B1: Update crisis resources to three international resources
  frontend/CLAUDE.md
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing, documentation

[ALL-005] Change B2: Update AvPD resources to helpful objective literature
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-005] Change B2: Update AvPD resources to helpful objective literature
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-005] Change B2: Update AvPD resources to helpful objective literature
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-006] Change B3: Update tech support section title and response time
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-006] Change B3: Update tech support section title and response time
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-006] Change B3: Update tech support section title and response time
  frontend/app/[locale]/support/__tests__/page.test.tsx
  frontend/locales/en/support.json
  frontend/locales/es/support.json
Labels: testing

[ALL-001] feat: Update About page - add Thank You section, update creator info, remove roadmap
  .rsync_filter
  CLAUDE.md
  README.md
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  backend/CLAUDE.md
  frontend/app/[locale]/about/__tests__/page.test.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/locales/en/about.json
  frontend/locales/es/about.json
Labels: testing, documentation

[ALL-001] feat: Update About page - add Thank You section, update creator info, remove roadmap
  .rsync_filter
  CLAUDE.md
  README.md
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  backend/CLAUDE.md
  frontend/app/[locale]/about/__tests__/page.test.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/locales/en/about.json
  frontend/locales/es/about.json
Labels: testing, documentation

[ALL-001] feat: Update About page - add Thank You section, update creator info, remove roadmap
  .rsync_filter
  CLAUDE.md
  README.md
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  backend/CLAUDE.md
  frontend/app/[locale]/about/__tests__/page.test.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/locales/en/about.json
  frontend/locales/es/about.json
Labels: testing, documentation

[ALL-002] feat: Update Privacy Policy - add anonymized data retention text, technical logs, principle protection
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/locales/en/privacy.json
  frontend/locales/es/privacy.json
Labels: testing

[ALL-002] feat: Update Privacy Policy - add anonymized data retention text, technical logs, principle protection
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/locales/en/privacy.json
  frontend/locales/es/privacy.json
Labels: testing

[ALL-002] feat: Update Privacy Policy - add anonymized data retention text, technical logs, principle protection
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/locales/en/privacy.json
  frontend/locales/es/privacy.json
Labels: testing

[ALL-003] feat: Update all dates from 2024 to 2025 - change January 2024 to August 2025, footer copyrights
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/common.json
  frontend/locales/en/privacy.json
  frontend/locales/es/common.json
  frontend/locales/es/privacy.json
Labels: testing

[ALL-003] feat: Update all dates from 2024 to 2025 - change January 2024 to August 2025, footer copyrights
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/common.json
  frontend/locales/en/privacy.json
  frontend/locales/es/common.json
  frontend/locales/es/privacy.json
Labels: testing

[ALL-003] feat: Update all dates from 2024 to 2025 - change January 2024 to August 2025, footer copyrights
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/locales/en/common.json
  frontend/locales/en/privacy.json
  frontend/locales/es/common.json
  frontend/locales/es/privacy.json
Labels: testing

[FE-011] feat: Update About page content and improve UI text
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/en/support.json
  frontend/locales/es/about.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
  frontend/locales/es/support.json
  recovery-context-dump.md
Labels: testing, documentation

[FE-011] feat: Update About page content and improve UI text
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/en/support.json
  frontend/locales/es/about.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
  frontend/locales/es/support.json
  recovery-context-dump.md
  test.py
Labels: testing, documentation

[FE-011] feat: Update About page content and improve UI text
  UI_CHANGES_FINAL_IMPLEMENTATION_PLAN.md
  UI_CHANGES_IMPLEMENTATION_PLAN.md
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/LanguageSelector.tsx
  frontend/components/ui/__tests__/InterfaceSelector.test.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/en/support.json
  frontend/locales/es/about.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
  frontend/locales/es/support.json
  recovery-context-dump.md
  test.py
Labels: testing, documentation

[FE-011] fix: Update About page test to support t.raw() method
  frontend/app/[locale]/about/__tests__/page.test.tsx
Labels: testing

[FE-011] fix: Update About page test to support t.raw() method
  frontend/app/[locale]/about/__tests__/page.test.tsx
Labels: testing

[FE-011] fix: Update About page test to support t.raw() method
  frontend/app/[locale]/about/__tests__/page.test.tsx
Labels: testing

[INF-001] Fix deployment workflow issues
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/frontend-ci.yml
  .github/workflows/security.yml.disabled
  .gitignore
  .rsync_filter
Labels: infrastructure

[INF-001] Fix deployment workflow issues
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/frontend-ci.yml
  .github/workflows/security.yml.disabled
  .gitignore
  .rsync_filter
Labels: infrastructure

[INF-001] Fix deployment workflow issues
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/frontend-ci.yml
  .github/workflows/security.yml.disabled
  .gitignore
  .rsync_filter
Labels: infrastructure

[INF-002] fix: Update CI workflows to trigger only on main branch for push events
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/frontend-ci.yml
Labels: infrastructure

[INF-002] fix: Update CI workflows to trigger only on main branch for push events
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/frontend-ci.yml
Labels: infrastructure
