Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[INF-016] fix: Update NEXT_PUBLIC_API_URL to use dynamic formatting for backend service URL
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-016] fix: Update NEXT_PUBLIC_API_URL to use dynamic formatting for backend service URL
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-016] fix: Update NEXT_PUBLIC_API_URL to use dynamic formatting for backend service URL
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-017] fix: Update NEXT_PUBLIC_API_URL to use hardcoded backend service URL for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-017] fix: Update NEXT_PUBLIC_API_URL to use hardcoded backend service URL for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-017] fix: Update NEXT_PUBLIC_API_URL to use hardcoded backend service URL for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[FE-015] feat: Enhance frontend layout and styling with new components
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/about-client.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/[locale]/learn-cbt/learn-cbt-client.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/globals.css
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  frontend/components/layout/AppLayout.tsx
  frontend/components/layout/GlassCard.tsx
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/jest.setup.js
  frontend/pnpm-lock.yaml
Labels: testing

[FE-015] feat: Enhance frontend layout and styling with new components
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/about-client.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/[locale]/learn-cbt/learn-cbt-client.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/globals.css
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  frontend/components/layout/AppLayout.tsx
  frontend/components/layout/GlassCard.tsx
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/jest.setup.js
  frontend/pnpm-lock.yaml
Labels: testing

[FE-015] feat: Enhance frontend layout and styling with new components
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/about-client.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/[locale]/learn-cbt/learn-cbt-client.tsx
  frontend/app/[locale]/learn-cbt/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/page.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/globals.css
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  frontend/components/layout/AppLayout.tsx
  frontend/components/layout/GlassCard.tsx
  frontend/components/ui/Button.tsx
  frontend/components/ui/InterfaceSelector.tsx
  frontend/components/ui/__tests__/Button.test.tsx
  frontend/jest.setup.js
  frontend/pnpm-lock.yaml
Labels: testing

[INF-018] feat: Add script to verify and grant Cloud Run and VPC roles
  .github/workflows/deploy-cloudrun.yml
  infra/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-018] feat: Add script to verify and grant Cloud Run and VPC roles
  .github/workflows/deploy-cloudrun.yml
  infra/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-018] feat: Add script to verify and grant Cloud Run and VPC roles
  .github/workflows/deploy-cloudrun.yml
  infra/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-019] fix: Correct GCP_REGION reference in Cloud Run deployment workflow
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/check_and_set_vpc_roles.sh
  infra/gcp/dump_assets_local.sh
  infra/gcp/setup-gcp-infrastructure.sh
  infra/gcp/setup-gcp.sh
  infra/gcp/setup-workload-identity.sh
  infra/github/check-github-secrets.sh
  infra/github/create_labels.sh
Labels: infrastructure

[INF-019] fix: Correct GCP_REGION reference in Cloud Run deployment workflow
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/check_and_set_vpc_roles.sh
  infra/gcp/dump_assets_local.sh
  infra/gcp/setup-gcp-infrastructure.sh
  infra/gcp/setup-gcp.sh
  infra/gcp/setup-workload-identity.sh
  infra/github/check-github-secrets.sh
  infra/github/create_labels.sh
Labels: infrastructure

[INF-019] fix: Correct GCP_REGION reference in Cloud Run deployment workflow
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/check_and_set_vpc_roles.sh
  infra/gcp/dump_assets_local.sh
  infra/gcp/setup-gcp-infrastructure.sh
  infra/gcp/setup-gcp.sh
  infra/gcp/setup-workload-identity.sh
  infra/github/check-github-secrets.sh
  infra/github/create_labels.sh
Labels: infrastructure

[INF-020] feat: Introduce bootstrap script for VPC and IAM role management
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/bootstrap_vpc_and_roles.sh
  infra/gcp/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-020] feat: Introduce bootstrap script for VPC and IAM role management
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/bootstrap_vpc_and_roles.sh
  infra/gcp/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-020] feat: Introduce bootstrap script for VPC and IAM role management
  .github/workflows/deploy-cloudrun.yml
  infra/gcp/bootstrap_vpc_and_roles.sh
  infra/gcp/check_and_set_vpc_roles.sh
Labels: infrastructure

[INF-021] fix: Update NEXT_PUBLIC_API_URL to use HTTPS for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-021] fix: Update NEXT_PUBLIC_API_URL to use HTTPS for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-021] fix: Update NEXT_PUBLIC_API_URL to use HTTPS for frontend deployment
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

[INF-022] feat: Implement proxy route for backend API access
  .github/workflows/deploy-cloudrun.yml
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/app/api/proxy/integration.test.ts
  frontend/jest.setup.js
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  infra/gcp/data/keep_latest_5.json
  infra/gcp/dump_assets_local.sh
  infra/gcp/harden-backend.sh
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: testing, documentation, infrastructure

[INF-022] feat: Implement proxy route for backend API access
  .github/workflows/deploy-cloudrun.yml
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/app/api/proxy/integration.test.ts
  frontend/jest.setup.js
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  infra/gcp/data/keep_latest_5.json
  infra/gcp/dump_assets_local.sh
  infra/gcp/harden-backend.sh
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: testing, documentation, infrastructure

[INF-022] feat: Implement proxy route for backend API access
  .github/workflows/deploy-cloudrun.yml
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/app/api/proxy/integration.test.ts
  frontend/jest.setup.js
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  infra/gcp/data/keep_latest_5.json
  infra/gcp/dump_assets_local.sh
  infra/gcp/harden-backend.sh
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: testing, documentation, infrastructure

[INF-423] chore: Update registry_clean_policy.sh and deployment_options.md for clarity and consistency
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: documentation

[INF-423] chore: Update registry_clean_policy.sh and deployment_options.md for clarity and consistency
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: documentation

[INF-423] chore: Update registry_clean_policy.sh and deployment_options.md for clarity and consistency
  infra/gcp/registry_clean_policy.sh
  infra/local/docs/deployment_options.md
Labels: documentation

[INF-424] chore: Update Dockerfiles for standalone build verification
  frontend/Dockerfile
  frontend/Dockerfile.standalone
Labels: none

[INF-424] chore: Update Dockerfiles for standalone build verification
  frontend/Dockerfile
  frontend/Dockerfile.standalone
Labels: none

[INF-424] chore: Update Dockerfiles for standalone build verification
  frontend/Dockerfile
  frontend/Dockerfile.standalone
Labels: none

[INF-425] feat: Refactor proxy route for improved authentication and error handling
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

[INF-425] feat: Refactor proxy route for improved authentication and error handling
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

[INF-425] feat: Refactor proxy route for improved authentication and error handling
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

[INF-426] feat: Refactor proxy route header handling and unit tests
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing

[INF-426] feat: Refactor proxy route header handling and unit tests
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing

[INF-426] feat: Refactor proxy route header handling and unit tests
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing

[INF-022] fix: Fix Cloud Run service-to-service authentication for internal backend access
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  infra/gcp/fix-frontend-auth.sh
Labels: infrastructure

[INF-022] fix: Fix Cloud Run service-to-service authentication for internal backend access
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  infra/gcp/fix-frontend-auth.sh
Labels: infrastructure

[INF-022] fix: Fix Cloud Run service-to-service authentication for internal backend access
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/health/route.ts
  frontend/app/api/proxy/[...path]/route.ts
  infra/gcp/fix-frontend-auth.sh
Labels: infrastructure

[INF-023] feat: Enhance Cloud Run deployment and proxy route error handling
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing, infrastructure

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
