Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-137] fix: simplify CI workflows for current phase
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudrun.yml.disabled
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
  Makefile
  docker-compose.dev.yml
  frontend/Dockerfile
Labels: documentation, infrastructure

[ALL-137] fix: apply black formatting to backend code
  backend/src/main.py
Labels: none

[ALL-137] fix: apply black formatting to backend code
  backend/src/main.py
Labels: none

[ALL-137] fix: apply black formatting to backend code
  backend/src/main.py
Labels: none

[ALL-137] fix: add permissions for paths-filter action
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[ALL-137] fix: add permissions for paths-filter action
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[ALL-137] fix: add permissions for paths-filter action
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[ALL-137] fix: remove duplicate .github directory from backend subtree
  backend/.github/workflows/ci.yml
Labels: none

[ALL-137] fix: remove duplicate .github directory from backend subtree
  backend/.github/workflows/ci.yml
Labels: none

[ALL-137] fix: remove duplicate .github directory from backend subtree
  backend/.github/workflows/ci.yml
Labels: none

[ALL-137] fix: use curl for Docker healthcheck instead of Python requests
  backend/Dockerfile
Labels: none

[ALL-137] fix: use curl for Docker healthcheck instead of Python requests
  backend/Dockerfile
Labels: none

[ALL-137] fix: use curl for Docker healthcheck instead of Python requests
  backend/Dockerfile
Labels: none

[ALL-137] chore: remove handoff files - use GitHub discussions instead
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
Labels: documentation

[ALL-137] chore: remove handoff files - use GitHub discussions instead
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
Labels: documentation

[ALL-137] chore: remove handoff files - use GitHub discussions instead
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
Labels: documentation

[BE-140] Fix Docker configuration for local development
  backend/.dockerignore
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/DOCKER_LOCAL_SETUP.md
Labels: documentation

[BE-140] Fix Docker configuration for local development
  backend/.dockerignore
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/DOCKER_LOCAL_SETUP.md
Labels: documentation

[BE-140] Fix Docker configuration for local development
  .env.example
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/DOCKER_LOCAL_SETUP.md
Labels: documentation

[BE-141] Update CORS configuration for local API routes
  backend/src/main.py
Labels: none

[BE-141] Update CORS configuration for local API routes
  backend/src/main.py
Labels: none

[BE-141] Update CORS configuration for local API routes
  backend/src/main.py
Labels: none

[ALL-142] docs: update CLAUDE.md with better Docker local setup instructions
  CLAUDE.md
  backend/CLAUDE.md
Labels: documentation

[ALL-142] docs: update CLAUDE.md with better Docker local setup instructions
  CLAUDE.md
  backend/CLAUDE.md
Labels: documentation

[ALL-142] docs: update CLAUDE.md with better Docker local setup instructions
  CLAUDE.md
  backend/CLAUDE.md
Labels: documentation

[BE-142] feat: implement audio conversion from 48kHz WAV to 16kHz PCM
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/audio_converter.py
  backend/tests/test_audio_converter.py
  backend/uv.lock
Labels: audio

[BE-142] feat: implement audio conversion from 48kHz WAV to 16kHz PCM
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/audio_converter.py
  backend/tests/test_audio_converter.py
  backend/uv.lock
Labels: audio

[BE-142] feat: implement audio conversion from 48kHz WAV to 16kHz PCM
  backend/pyproject.toml
  backend/src/main.py
  backend/src/utils/audio_converter.py
  backend/tests/test_audio_converter.py
  backend/uv.lock
Labels: audio

[BE-144] feat: enhance SSE implementation for local POC
  backend/src/main.py
Labels: none

[BE-144] feat: enhance SSE implementation for local POC
  backend/src/main.py
Labels: none

[BE-144] feat: enhance SSE implementation for local POC
  backend/src/main.py
Labels: none

[BE-143] feat: implement simple session management for POC
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

[BE-143] feat: implement simple session management for POC
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

[BE-143] feat: implement simple session management for POC
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

[FE-146] feat: complete frontend Docker configuration
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/app/api/health/route.ts
Labels: none

[FE-146] feat: complete frontend Docker configuration
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/app/api/health/route.ts
Labels: none

[FE-146] feat: complete frontend Docker configuration
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/app/api/health/route.ts
Labels: none

[BE-999] fix: address session manager PR feedback
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

[BE-999] fix: address session manager PR feedback
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

[BE-999] fix: address session manager PR feedback
  backend/src/main.py
  backend/src/utils/session_manager.py
  backend/tests/test_session_manager.py
Labels: none

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
