Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

[INF-023] feat: Enhance Cloud Run deployment and proxy route error handling
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing, infrastructure

[INF-023] feat: Enhance Cloud Run deployment and proxy route error handling
  .github/workflows/deploy-cloudrun.yml
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
Labels: testing, infrastructure

[INF-427] feat: Enhance API structure with new metrics and status endpoints
  backend/src/main.py
  backend/src/text/router.py
  backend/src/utils/metrics_router.py
  backend/src/utils/status_router.py
  backend/tests/test_main.py
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile.standalone
  frontend/openapi.json
Labels: none

[INF-427] feat: Enhance API structure with new metrics and status endpoints
  backend/src/main.py
  backend/src/text/router.py
  backend/src/utils/metrics_router.py
  backend/src/utils/status_router.py
  backend/tests/test_main.py
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile.standalone
  frontend/openapi.json
Labels: none

[INF-427] feat: Enhance API structure with new metrics and status endpoints
  backend/src/main.py
  backend/src/text/router.py
  backend/src/utils/metrics_router.py
  backend/src/utils/status_router.py
  backend/tests/test_main.py
  docker-compose.integration.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile.standalone
  frontend/openapi.json
Labels: none

[INF-543] fix: Update health check endpoint path in tests
  .gitignore
  backend/tests/test_main.py
Labels: none

[INF-543] fix: Update health check endpoint path in tests
  .gitignore
  backend/tests/test_main.py
Labels: none

[INF-543] fix: Update health check endpoint path in tests
  .gitignore
  backend/tests/test_main.py
Labels: none

[INF-544] feat: Integrate OpenAPI schema generation into Cloud Run deployment workflow
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

[INF-544] feat: Integrate OpenAPI schema generation into Cloud Run deployment workflow
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

[INF-544] feat: Integrate OpenAPI schema generation into Cloud Run deployment workflow
  .github/workflows/backend-ci.yml
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

[INF-545] feat: Expand project structure and enhance backend functionality
  .claude/agents/frontend-test-fixer.md
  .claude/agents/gcp-debug-expert.md
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  infra/gcp/bootstrap_vpc_and_roles.sh
  infra/gcp/fix-frontend-auth.sh
  infra/gcp/harden-backend.sh
  infra/gcp/registry_clean_policy.sh
Labels: documentation

[INF-545] feat: Expand project structure and enhance backend functionality
  .claude/agents/frontend-test-fixer.md
  .claude/agents/gcp-debug-expert.md
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  infra/gcp/bootstrap_vpc_and_roles.sh
  infra/gcp/fix-frontend-auth.sh
  infra/gcp/harden-backend.sh
  infra/gcp/registry_clean_policy.sh
Labels: documentation

Fix SSE streaming in proxy for chat functionality
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/app/api/proxy/[...path]/route.ts
Labels: documentation

Fix SSE streaming in proxy for chat functionality
  CLAUDE.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
  frontend/app/api/proxy/[...path]/route.ts
Labels: documentation

Enhance SSE handling in proxy and update unit tests
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/lib/api/client.ts
Labels: testing

Enhance SSE handling in proxy and update unit tests
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/lib/api/client.ts
Labels: testing

chore: allow tracking of infra/ and fix gitleaks pre-commit hook to use system entry
  .gitignore
  backend/.pre-commit-config.yaml
Labels: none

chore: allow tracking of infra/ and fix gitleaks pre-commit hook to use system entry
  .gitignore
  backend/.pre-commit-config.yaml
Labels: none

security: add secret leak process and findings docs
  infra/gcp/security/secret-leak-findings-and-status-2025-08-08.md
  infra/gcp/security/secret-leak-remediation-process-2025-08-08.md
Labels: documentation

security: add secret leak process and findings docs
  .env.example
  .env.test.example
  backend/.env.example
  frontend/.env.local.example
Labels: none

security: remove remediation and findings docs from repository tip
  infra/gcp/security/secret-leak-findings-and-status-2025-08-08.md
  infra/gcp/security/secret-leak-remediation-process-2025-08-08.md
Labels: documentation

Remove obsolete uv.lock file to streamline dependency management and reduce clutter in the repository.
  backend/uv.lock
Labels: none

CI: ignore backend/uv.lock; keep uv sync from pyproject in CI; improve uv cache key
  .gitignore
Labels: none

CI: configure setup-uv to cache by pyproject.toml (no uv.lock); remove explicit cache step to avoid uv.lock glob error
  .github/workflows/backend-ci.yml
Labels: infrastructure

CI: remove unsupported cache-dependency-path; reintroduce explicit actions/cache for uv keyed by pyproject + python version
  .github/workflows/backend-ci.yml
Labels: infrastructure

Refactor: update import in language endpoint test to use LanguageDetectionRequest model
  backend/tests/test_language_endpoint.py
Labels: none

Address CodeRabbit review: polish ES introduction copy; guard against duplicate voice SSE connections and clean deps
  frontend/lib/audio/use-natural-conversation.ts
  frontend/locales/es/learn-cbt.json
Labels: audio

Fix feature flags get_ui_flags and replace REDACTED placeholders across frontend (#265)
  .env.test.example
  .github/workflows/backend-ci.yml
  .gitignore
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/service.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
  backend/uv.lock
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/components/ui/InterfaceSelector.tsx
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/client.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/locales/es/learn-cbt.json
  frontend/pnpm-lock.yaml
Labels: testing, infrastructure, audio

Recovery: restore frontend UI/UX from 2b3647d5635b (without sensitive data)
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/components/ui/InterfaceSelector.tsx
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/client.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/locales/es/learn-cbt.json
  frontend/openapi-ts-error-1754702981389.log
  frontend/pnpm-lock.yaml
Labels: testing, audio

Recovery: restore backend to state from 2b3647d5635b (align with recovered UI)
  backend/.pre-commit-config.yaml
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/service.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
  backend/uv.lock
Labels: none

Recovery: drop backend/uv.lock and ignore; ignore openapi-ts error logs
  .gitignore
  backend/uv.lock
Labels: none

Fix feature flags implementation by replacing REDACTED placeholders with correct keys in models and service; update tests accordingly for consistency and accuracy.
  backend/src/utils/feature_flags/models.py
  backend/src/utils/feature_flags/service.py
  backend/tests/test_feature_flags.py
  backend/tests/test_language_endpoint.py
Labels: none

Frontend: fix REDACTED placeholders, align generated client API, guard voice SSE, correct ES copy, and fix audio-debug TS types; tests passing
  frontend/app/api/proxy/[...path]/route.unit.test.ts
  frontend/components/ui/InterfaceSelector.tsx
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/client.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/locales/es/learn-cbt.json
  frontend/pnpm-lock.yaml
Labels: testing, audio

Recovery/UI from 2b3647d (#266)
  .gitignore
  backend/.pre-commit-config.yaml
  frontend/lib/audio/audio-debug.ts
  frontend/locales/es/learn-cbt.json
  frontend/openapi-ts-error-1754702981389.log
Labels: audio

Docker: handle missing uv.lock by copying only pyproject and falling back to non-frozen uv sync
  backend/Dockerfile
Labels: none

Refactor proxy URL construction to prefer public URL for token audience alignment
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

Refactor proxy URL construction to use internal host for request routing
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

feat: anonymous feedback endpoint (Firestore + reCAPTCHA); localized Settings page with telemetry toggle and feedback; recaptcha helper; wire router; deps
  backend/pyproject.toml
  backend/src/main.py
  backend/src/routes/__init__.py
  backend/src/routes/feedback.py
  backend/src/routes/recaptcha_util.py
  frontend/app/[locale]/settings/page.tsx
  frontend/lib/recaptcha.ts
Labels: none

fix: lazy Firestore client to avoid ADC in tests; remove unused server import; format backend with black
  backend/src/routes/feedback.py
  frontend/app/[locale]/settings/page.tsx
Labels: none
