Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

refactor: clean up feedback route imports and enhance reCAPTCHA handling in frontend
  backend/src/main.py
  backend/src/routes/__init__.py
  backend/src/routes/feedback.py
  backend/src/routes/recaptcha_util.py
  frontend/lib/recaptcha.ts
Labels: none

chore: update mypy configuration to ignore missing imports for Firestore and reCAPTCHA
  backend/pyproject.toml
  backend/src/routes/feedback.py
Labels: none

Observability + Anonymous Feedback (Firestore + reCAPTCHA); Localized Settings page (#267)
  backend/pyproject.toml
  backend/src/main.py
  backend/src/routes/__init__.py
  backend/src/routes/feedback.py
  backend/src/routes/recaptcha_util.py
  frontend/app/[locale]/settings/page.tsx
  frontend/lib/recaptcha.ts
Labels: none

perf: offload reCAPTCHA verification to threadpool and map failures to 503; feat(frontend): robust recaptcha loader (browser guard, provider validation, ready() waits)
  backend/src/routes/feedback.py
Labels: none

CI: make frontend proxy envs stable from deploy pipeline; allow secret overrides for BACKEND_*; include NEXT_PUBLIC_* when provided
  .github/workflows/deploy-cloudrun.yml
  frontend/lib/recaptcha.ts
Labels: infrastructure

feat: add /[locale]/feedback page and footer link; align naming with user intent (Feedback instead of Settings)
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/page.tsx
Labels: none

fix: enhance error handling in reCAPTCHA verification by chaining exceptions for better debugging
  backend/src/routes/feedback.py
Labels: none

Hardening/recaptcha async and robust loader (#268)
  .github/workflows/deploy-cloudrun.yml
  backend/src/routes/feedback.py
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/lib/recaptcha.ts
Labels: infrastructure

proxy: dynamic env resolution + prod fallbacks for BACKEND_* to prevent drift
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

feat: add optional comment field to feedback submission and update frontend to capture user comments
  backend/src/routes/feedback.py
  frontend/app/[locale]/feedback/page.tsx
Labels: none

Frontend proxy stability + reCAPTCHA hardening (#269)
  backend/src/routes/feedback.py
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

ui(feedback): brand-colored thumb icons; remove telemetry toggle; ensure language switch consistent; header feedback icon
  frontend/app/[locale]/feedback/page.tsx
  frontend/components/layout/AppLayout.tsx
Labels: none

UI: brand thumbs feedback, persistent header icon; proxy/env stability; recaptcha hardening (#270)
  frontend/app/[locale]/feedback/page.tsx
  frontend/components/layout/AppLayout.tsx
Labels: none

frontend(proxy): tighten insecure bypass to localhost/127.* or explicit PROXY_ALLOW_INSECURE flag per review
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

frontend(chat): refine mobile chat (scroll, sticky input, centered pl… (#271)
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

frontend(chat): extract inline styles to CSS utilities (bg gradient, glass); prep for mobile RTL test
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/globals.css
Labels: none

frontend: fix test run, clean implementation lint, ignore tests in ESLint; tighten types and improve SSE/proxy type safety
  frontend/.eslintignore
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/__tests__/page.test.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/client-page.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/settings/page.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/global-error.tsx
  frontend/app/not-found.tsx
  frontend/lib/recaptcha.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
Labels: testing

docs: add reCAPTCHA v3 (classic) setup for frontend + Cloud Run
  docs/gcp-cloud-run-setup.md
Labels: documentation

Update frontend/app/api/proxy/[...path]/route.ts
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

docs(gcp): add reCAPTCHA v3 classic setup + helper scripts; frontend: recaptcha loader robustness, SSE reconnect cleanup, Node-safe base64; use autogenerated SDK for feedback
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/settings/page.tsx
  frontend/lib/api/generated-client.ts
  frontend/lib/recaptcha.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  infra/gcp/setup-domain-mappings.sh
  infra/gcp/setup-recaptcha-classic.sh
  plan.md
Labels: documentation

frontend(streaming): fix lint no-empty catch in SSE reconnect cleanup
  frontend/lib/streaming/sse-client.ts
Labels: none

Feat/chat style extraction and tests (#272)
  docs/gcp-cloud-run-setup.md
  frontend/.eslintignore
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/__tests__/page.test.tsx
  frontend/app/[locale]/about/page.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/client-page.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/form/form-client.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/settings/page.tsx
  frontend/app/[locale]/support/page.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/api/proxy/[...path]/route.ts
  frontend/app/global-error.tsx
  frontend/app/globals.css
  frontend/app/not-found.tsx
  frontend/lib/api/generated-client.ts
  frontend/lib/recaptcha.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  infra/gcp/setup-domain-mappings.sh
  infra/gcp/setup-recaptcha-classic.sh
  plan.md
Labels: testing, documentation

ci(deploy): pass NEXT_PUBLIC_RECAPTCHA_* build args to frontend image
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

chore(docker): add reCAPTCHA build arguments to frontend Dockerfiles
  frontend/Dockerfile
  frontend/Dockerfile.multistage
  frontend/Dockerfile.standalone
Labels: none

frontend: bake reCAPTCHA site key via build args (#273)
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile
  frontend/Dockerfile.multistage
  frontend/Dockerfile.standalone
Labels: infrastructure

Enhance frontend Dockerfile and Cloud Run deployment with reCAPTCHA environment variables
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

Refactor: Improve copy and clarity across the app
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/page.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/reframe.json
  frontend/locales/es/about.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/reframe.json
  frontend/openapi-temp.json
Labels: testing

Enhance frontend Dockerfile and Cloud Run deployment with reCAPTCHA environment variables (#274)
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

Update page.tsx
  frontend/app/[locale]/page.tsx
Labels: none

feat(frontend): reCAPTCHA hook + global preloader; preload tokens on chat/voice; update feedback/settings to use hook and disable until ready; move badge per guidelines
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/settings/page.tsx
  frontend/app/[locale]/voice/voice-client.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/RecaptchaPreloader.tsx
  frontend/lib/recaptcha/useRecaptcha.ts
Labels: audio

fix(frontend): enhance error handling in chat and voice clients for reCAPTCHA prefetch failures
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/voice/voice-client.tsx
  frontend/lib/recaptcha/useRecaptcha.ts
Labels: audio

chore(frontend): address PR feedback — remove useEffect alias, surface reCAPTCHA init errors, avoid non-null env asserts, gate chat send by ready
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/settings/page.tsx
Labels: none

fix/provide recaptcha creds (#276)
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/settings/page.tsx
  frontend/app/[locale]/voice/voice-client.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/RecaptchaPreloader.tsx
  frontend/lib/recaptcha/useRecaptcha.ts
Labels: audio

Refactor: Enhance clarity and empathy in application copy
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/reframe.json
  frontend/locales/es/about.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/reframe.json
Labels: none

refactor: streamline reCAPTCHA verification process and enhance error handling
  backend/src/routes/recaptcha_util.py
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

refactor: enhance reCAPTCHA verification and proxy request handling
  backend/src/routes/recaptcha_util.py
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

refactor: streamline reCAPTCHA verification process and enhance error handling (#277)
  backend/src/routes/recaptcha_util.py
  frontend/app/api/proxy/[...path]/route.ts
Labels: none

fix: enhance Firestore client initialization with dynamic database ID
  backend/src/routes/feedback.py
Labels: none

fix: enhance Firestore client initialization with dynamic database ID (#278)
  backend/src/routes/feedback.py
Labels: none

Refactor: Update application copy for clarity and consistency
  frontend/__tests__/i18n.keys.test.ts
  frontend/__tests__/i18n.wording.test.ts
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/privacy.json
  frontend/locales/en/reframe.json
  frontend/locales/es/about.json
  frontend/locales/es/common.json
  frontend/locales/es/home.json
  frontend/locales/es/privacy.json
  frontend/locales/es/reframe.json
  frontend/locales/es/support.json
Labels: testing

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
