Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-001] refactor: consolidate documentation and update CLAUDE.md
  AUDIO_INTEGRATION_PLAN.md
  AUDIO_UX_DESIGN.md
  CLAUDE.md
  README.md
Labels: documentation

[ALL-001] refactor: consolidate documentation and update CLAUDE.md
  AUDIO_INTEGRATION_PLAN.md
  AUDIO_UX_DESIGN.md
  CLAUDE.md
  README.md
Labels: documentation

[ALL-002] fix: update CI workflows for monorepo structure
  .github/workflows/ci.yml
  .github/workflows/cleanup-preview.yml.disabled
  .github/workflows/pr-validation.yml
  .github/workflows/preview-cloudrun.yml.disabled
  frontend/.eslintrc.json
  frontend/.lighthouserc.js
  frontend/.prettierrc
Labels: infrastructure

[ALL-002] fix: update CI workflows for monorepo structure
  .github/workflows/ci.yml
  .github/workflows/cleanup-preview.yml.disabled
  .github/workflows/pr-validation.yml
  .github/workflows/preview-cloudrun.yml.disabled
  frontend/.eslintrc.json
  frontend/.lighthouserc.js
  frontend/.prettierrc
Labels: infrastructure

[ALL-002] fix: update CI workflows for monorepo structure
  .github/workflows/ci.yml
  .github/workflows/cleanup-preview.yml.disabled
  .github/workflows/pr-validation.yml
  .github/workflows/preview-cloudrun.yml.disabled
  frontend/.eslintrc.json
  frontend/.lighthouserc.js
  frontend/.prettierrc
Labels: infrastructure

[ALL-003] chore: remove obsolete planning and communication files
  BACKEND_TEAM_KICKOFF.md
  backend_team_message.txt
  discussions/backend_coordination_post.md
  discussions/daily_standup_week1.md
  discussions/welcome_announcement.md
  docs/FRONTEND_MONOREPO_RESPONSE.md
  docs/PROJECT_ARTIFACTS_INDEX.md
  docs/project-setup/README.md
  docs/project-setup/create_github_issues.py
  docs/project-setup/summarize_issues.py
Labels: documentation

[ALL-003] chore: remove obsolete planning and communication files
  BACKEND_TEAM_KICKOFF.md
  backend_team_message.txt
  discussions/backend_coordination_post.md
  discussions/daily_standup_week1.md
  discussions/welcome_announcement.md
  docs/FRONTEND_MONOREPO_RESPONSE.md
  docs/PROJECT_ARTIFACTS_INDEX.md
  docs/project-setup/README.md
  docs/project-setup/create_github_issues.py
  docs/project-setup/summarize_issues.py
Labels: documentation

[ALL-003] chore: remove obsolete planning and communication files
  BACKEND_TEAM_KICKOFF.md
  backend_team_message.txt
  discussions/backend_coordination_post.md
  discussions/daily_standup_week1.md
  discussions/welcome_announcement.md
  docs/FRONTEND_MONOREPO_RESPONSE.md
  docs/PROJECT_ARTIFACTS_INDEX.md
  docs/project-setup/README.md
  docs/project-setup/create_github_issues.py
  docs/project-setup/summarize_issues.py
Labels: documentation

[ALL-004] docs: update CLAUDE.md for monorepo structure
  CLAUDE.md
Labels: documentation

[ALL-004] docs: update CLAUDE.md for monorepo structure
  CLAUDE.md
Labels: documentation

[ALL-004] docs: update CLAUDE.md for monorepo structure
  CLAUDE.md
Labels: documentation

[FE-001] fix: add missing typecheck script to package.json
  frontend/package.json
Labels: none

[FE-001] fix: add missing typecheck script to package.json
  frontend/package.json
Labels: none

[FE-001] fix: add missing typecheck script to package.json
  frontend/package.json
Labels: none

[ALL-005] chore: disable PR validation workflows
  .github/workflows/pr-validation.yml.disabled
Labels: infrastructure

[ALL-005] chore: disable PR validation workflows
  .github/workflows/pr-validation.yml.disabled
Labels: infrastructure

[ALL-005] chore: disable PR validation workflows
  .github/workflows/pr-validation.yml.disabled
Labels: infrastructure

[ALL-006] fix: update CI workflow pnpm cache directory handling
  .github/workflows/ci.yml
Labels: infrastructure

[ALL-006] fix: update CI workflow pnpm cache directory handling
  .github/workflows/ci.yml
Labels: infrastructure

[ALL-006] fix: update CI workflow pnpm cache directory handling
  .github/workflows/ci.yml
Labels: infrastructure

[ALL-007] fix: address PR review comments
  package.json
  scripts/migrate-to-monorepo.sh
Labels: infrastructure

[ALL-007] fix: address PR review comments
  package.json
  scripts/migrate-to-monorepo.sh
Labels: infrastructure

[ALL-007] fix: address PR review comments
  package.json
  scripts/migrate-to-monorepo.sh
Labels: infrastructure

[ALL-001] fix: improve test performance for character limit test
  frontend/components/forms/ThoughtInputForm.test.tsx
  package.json
Labels: testing, infrastructure

[ALL-001] fix: improve test performance for character limit test
  frontend/components/forms/ThoughtInputForm.test.tsx
  package.json
Labels: testing, infrastructure

[ALL-001] fix: improve test performance for character limit test
  frontend/components/forms/ThoughtInputForm.test.tsx
  package.json
Labels: testing, infrastructure

[BE-136] Remove placeholder backend README for subtree merge #136
  backend/README.md
Labels: documentation

[BE-136] Remove placeholder backend README for subtree merge #136
  backend/README.md
Labels: documentation

[BE-136] Remove placeholder backend README for subtree merge #136
  backend/README.md
Labels: documentation

[BE-137] Add health check endpoint and Docker configuration for Cloud Run #137
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/CI_CD_WORKFLOW_PLAN.md
Labels: documentation

[BE-137] Add health check endpoint and Docker configuration for Cloud Run #137
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/CI_CD_WORKFLOW_PLAN.md
Labels: documentation

[BE-137] Add health check endpoint and Docker configuration for Cloud Run #137
  backend/Dockerfile
  backend/src/main.py
  docker-compose.yml
  docs/CI_CD_WORKFLOW_PLAN.md
Labels: documentation

[BE-137] Add backend CI workflow for testing and deployment #137
  .github/workflows/backend-ci.yml
Labels: infrastructure

[BE-137] Add backend CI workflow for testing and deployment #137
  .github/workflows/backend-ci.yml
Labels: infrastructure

[BE-137] Add backend CI workflow for testing and deployment #137
  .github/workflows/backend-ci.yml
Labels: infrastructure

[BE-137] Add unified monorepo CI workflow #137
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[BE-137] Add unified monorepo CI workflow #137
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[BE-137] Add unified monorepo CI workflow #137
  .github/workflows/ci-monorepo.yml
Labels: infrastructure

[ALL-137] fix: simplify CI workflows for current phase
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudrun.yml.disabled
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
  Makefile
  docker-compose.dev.yml
  frontend/Dockerfile
Labels: documentation, infrastructure

[ALL-137] fix: simplify CI workflows for current phase
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-cloudrun.yml.disabled
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  BACKEND_WORKTREE_HANDOFF.md
  ISSUE_137_STATUS.md
  Makefile
  docker-compose.dev.yml
  frontend/Dockerfile
Labels: documentation, infrastructure

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
