Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-212] Fix TypeScript errors in frontend test mocks
  docs/HANDOFF.md
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, documentation, audio

[ALL-212] Fix infinite render loop in SSE connection effect
  frontend/app/page.tsx
Labels: none

[ALL-212] Fix infinite render loop in SSE connection effect
  frontend/app/page.tsx
Labels: none

[ALL-212] Fix infinite render loop in SSE connection effect
  frontend/app/page.tsx
Labels: none

[ALL-212] Fix infinite render loop in SSE connection logic
  frontend/app/page.tsx
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[ALL-212] Fix infinite render loop in SSE connection logic
  frontend/app/page.tsx
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[ALL-212] Fix infinite render loop in SSE connection logic
  frontend/app/page.tsx
  frontend/lib/streaming/use-sse-client.ts
Labels: none

[ALL-212] Fix E2E test infrastructure and add voice conversation tests
  backend/src/text/router.py
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/api/client.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/tests/simple-text-test.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: audio

[ALL-212] Fix E2E test infrastructure and add voice conversation tests
  backend/src/text/router.py
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/api/client.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/tests/simple-text-test.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: audio

[ALL-212] Fix E2E test infrastructure and add voice conversation tests
  backend/src/text/router.py
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/lib/api/client.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/tests/simple-text-test.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: audio

[ALL-212] Enhance API client usage and improve E2E testing
  CLAUDE.md
  E2E_TESTS_FIXED_SUMMARY.md
  backend/src/text/router.py
  demo-complete-session.js
  docker-compose.override.yml
  frontend/CLAUDE.md
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  package-lock.json
  package.json
  playwright-js/tests/voice-english-fixtures.spec.ts
  playwright.config.ts
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
  tests/e2e/tests/backup/voice-english-fixtures-final.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-fixed.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-working.spec.ts
  tests/e2e/tests/test-basic-form.spec.ts
  tests/e2e/tests/test-complete-workflow.spec.ts
  tests/e2e/tests/test-debug-messages.spec.ts
  tests/e2e/tests/test-direct-sse.spec.ts
  tests/e2e/tests/test-real-backend.spec.ts
  tests/e2e/tests/test-sse-connection.spec.ts
  tests/e2e/tests/test-turn-complete-mock.spec.ts
  tests/e2e/tests/test-turn-complete-simple.spec.ts
  tests/e2e/tests/text-complete-flow.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-212] Enhance API client usage and improve E2E testing
  CLAUDE.md
  E2E_TESTS_FIXED_SUMMARY.md
  backend/src/text/router.py
  demo-complete-session.js
  docker-compose.override.yml
  frontend/CLAUDE.md
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  package-lock.json
  package.json
  playwright-js/tests/voice-english-fixtures.spec.ts
  playwright.config.ts
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
  tests/e2e/tests/backup/voice-english-fixtures-final.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-fixed.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-working.spec.ts
  tests/e2e/tests/test-basic-form.spec.ts
  tests/e2e/tests/test-complete-workflow.spec.ts
  tests/e2e/tests/test-debug-messages.spec.ts
  tests/e2e/tests/test-direct-sse.spec.ts
  tests/e2e/tests/test-real-backend.spec.ts
  tests/e2e/tests/test-sse-connection.spec.ts
  tests/e2e/tests/test-turn-complete-mock.spec.ts
  tests/e2e/tests/test-turn-complete-simple.spec.ts
  tests/e2e/tests/text-complete-flow.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-212] Enhance API client usage and improve E2E testing
  CLAUDE.md
  E2E_TESTS_FIXED_SUMMARY.md
  backend/src/text/router.py
  demo-complete-session.js
  docker-compose.override.yml
  frontend/CLAUDE.md
  frontend/app/page.tsx
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/generated-client.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/message-protocol.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  package-lock.json
  package.json
  playwright-js/tests/voice-english-fixtures.spec.ts
  playwright.config.ts
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
  tests/e2e/tests/backup/voice-english-fixtures-final.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-fixed.spec.ts
  tests/e2e/tests/backup/voice-english-fixtures-working.spec.ts
  tests/e2e/tests/test-basic-form.spec.ts
  tests/e2e/tests/test-complete-workflow.spec.ts
  tests/e2e/tests/test-debug-messages.spec.ts
  tests/e2e/tests/test-direct-sse.spec.ts
  tests/e2e/tests/test-real-backend.spec.ts
  tests/e2e/tests/test-sse-connection.spec.ts
  tests/e2e/tests/test-turn-complete-mock.spec.ts
  tests/e2e/tests/test-turn-complete-simple.spec.ts
  tests/e2e/tests/text-complete-flow.spec.ts
  tests/e2e/tests/voice-english-fixtures.spec.ts
Labels: frontend, documentation, infrastructure, audio

[ALL-0000] Implement idempotent response handling in Home component
  frontend/app/page.tsx
Labels: none

[ALL-0000] Implement idempotent response handling in Home component
  frontend/app/page.tsx
Labels: none

[ALL-0000] Implement idempotent response handling in Home component
  frontend/app/page.tsx
Labels: none

[ALL-00001] Update voice session initialization to use specific model version
  backend/src/voice/session_manager.py
Labels: none

[ALL-00001] Update voice session initialization to use specific model version
  backend/src/voice/session_manager.py
Labels: none

[ALL-00001] Update voice session initialization to use specific model version
  backend/src/voice/session_manager.py
Labels: none

[ALL-00001] Fix audio playback speed and clean up test files
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  docs/HANDOFF.md
  frontend/lib/api/client.ts
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/README.md
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/TEST_RESULTS_SUMMARY.md
  tests/e2e/VOICE_TESTING_GUIDE.md
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/debug_screenshot.png
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/requirements.txt
  tests/e2e/response_debug.png
Labels: testing, documentation, audio, performance

[ALL-00001] Fix audio playback speed and clean up test files
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  docs/HANDOFF.md
  frontend/lib/api/client.ts
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/README.md
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/TEST_RESULTS_SUMMARY.md
  tests/e2e/VOICE_TESTING_GUIDE.md
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/debug_screenshot.png
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/requirements.txt
  tests/e2e/response_debug.png
Labels: testing, documentation, audio, performance

[ALL-00001] Fix audio playback speed and clean up test files
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  docs/HANDOFF.md
  frontend/lib/api/client.ts
  frontend/lib/audio/__tests__/use-natural-conversation.browser.test.tsx
  frontend/lib/audio/pcm-player.ts
  frontend/lib/audio/use-natural-conversation.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
  tests/e2e/README.md
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/TEST_RESULTS_SUMMARY.md
  tests/e2e/VOICE_TESTING_GUIDE.md
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/debug_screenshot.png
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/requirements.txt
  tests/e2e/response_debug.png
Labels: testing, documentation, audio, performance

[ALL-001] Remove unused files from root directory
  E2E_TESTS_FIXED_SUMMARY.md
  cloudbuild.yaml
  demo-complete-session.js
  docker-compose.perf.yml
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
Labels: frontend, documentation

[ALL-001] Remove unused files from root directory
  E2E_TESTS_FIXED_SUMMARY.md
  cloudbuild.yaml
  demo-complete-session.js
  docker-compose.perf.yml
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
Labels: frontend, documentation

[ALL-001] Remove unused files from root directory
  E2E_TESTS_FIXED_SUMMARY.md
  cloudbuild.yaml
  demo-complete-session.js
  docker-compose.perf.yml
  test-eventsource-mock-fix.ts
  test-turn-complete-frontend.js
  test-turn-complete.js
Labels: frontend, documentation

[ALL-001] Implement language parameter handling across agents
  .claude/agents/backend-implementation-specialist.md
  .claude/agents/feature-architect.md
  .claude/agents/frontend-implementation-specialist.md
  .claude/agents/principled-code-critic.md
  CLAUDE.md
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  docs/language-parameter-fix-implementation-plan.md
  docs/language-parameter-fix-spec.md
  playwright-js/tests/text-language-parameter.spec.js
Labels: documentation

[ALL-001] Implement language parameter handling across agents
  .claude/agents/backend-implementation-specialist.md
  .claude/agents/feature-architect.md
  .claude/agents/frontend-implementation-specialist.md
  .claude/agents/principled-code-critic.md
  CLAUDE.md
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  docs/language-parameter-fix-implementation-plan.md
  docs/language-parameter-fix-spec.md
  playwright-js/tests/text-language-parameter.spec.js
Labels: documentation

[ALL-001] Implement language parameter handling across agents
  .claude/agents/backend-implementation-specialist.md
  .claude/agents/feature-architect.md
  .claude/agents/frontend-implementation-specialist.md
  .claude/agents/principled-code-critic.md
  CLAUDE.md
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  docs/language-parameter-fix-implementation-plan.md
  docs/language-parameter-fix-spec.md
  playwright-js/tests/text-language-parameter.spec.js
Labels: documentation

[ALL-001] Implement reactive greeting behavior in agents
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/integration/test_reactive_session_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_greeting_agent_reactive.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
  frontend/app/page.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  playwright-js/tests/text-reactive-greeting.spec.js
Labels: testing

[ALL-001] Implement reactive greeting behavior in agents
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/integration/test_reactive_session_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_greeting_agent_reactive.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
  frontend/app/page.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  playwright-js/tests/text-reactive-greeting.spec.js
Labels: testing

[ALL-001] Implement reactive greeting behavior in agents
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/src/text/router.py
  backend/src/utils/language_utils.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_language_parameter_e2e.py
  backend/tests/fixtures/language_fixtures.py
  backend/tests/integration/test_language_flow.py
  backend/tests/integration/test_reactive_session_flow.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_greeting_agent_reactive.py
  backend/tests/test_language_utils.py
  backend/tests/test_session_language.py
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
  frontend/app/page.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.test.tsx
  playwright-js/tests/text-reactive-greeting.spec.js
Labels: testing

[ALL-001] Refactor test cases for language handling and endpoint calls
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

[ALL-001] Refactor test cases for language handling and endpoint calls
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

[ALL-001] Refactor test cases for language handling and endpoint calls
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_language_simple.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

[ALL-001] Refactor SSE endpoint tests to prevent hanging and improve performance monitoring
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_reactive.py
Labels: none

[ALL-001] Refactor SSE endpoint tests to prevent hanging and improve performance monitoring
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_reactive.py
Labels: none

[ALL-001] Refactor SSE endpoint tests to prevent hanging and improve performance monitoring
  backend/tests/test_text_router_language.py
  backend/tests/test_text_router_reactive.py
Labels: none

[ALL-001] Update greeting agent tests to reflect reactive implementation changes
  backend/tests/test_greeting_agent_i18n.py
  backend/tests/test_greeting_phase.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

[ALL-001] Update greeting agent tests to reflect reactive implementation changes
  backend/tests/test_greeting_agent_i18n.py
  backend/tests/test_greeting_phase.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

[ALL-001] Update greeting agent tests to reflect reactive implementation changes
  backend/tests/test_greeting_agent_i18n.py
  backend/tests/test_greeting_phase.py
  backend/tests/test_text_router_reactive_final.py
  backend/tests/test_text_router_reactive_simple.py
Labels: none

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
