Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[INF-002] Configure Cloud Run deployment for frontend
  .dockerignore
  .github/GCP_SECRETS_SETUP.md
  .github/SECRETS_SETUP.md
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/preview-cloudrun.yml
  Dockerfile
  cloudbuild.yaml
  next.config.cloudrun.mjs
  setup-gcp.sh
Labels: documentation, infrastructure

[INF-002] Configure Cloud Run deployment for frontend
  .dockerignore
  .github/GCP_SECRETS_SETUP.md
  .github/SECRETS_SETUP.md
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/preview-cloudrun.yml
  Dockerfile
  cloudbuild.yaml
  next.config.cloudrun.mjs
  setup-gcp.sh
Labels: documentation, infrastructure

[INF-002] Configure Cloud Run deployment for frontend
  .dockerignore
  .github/GCP_SECRETS_SETUP.md
  .github/SECRETS_SETUP.md
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-cloudrun.yml
  .github/workflows/preview-cloudrun.yml
  Dockerfile
  cloudbuild.yaml
  next.config.cloudrun.mjs
  setup-gcp.sh
Labels: documentation, infrastructure

[INF-001] fix: resolve CI/CD pipeline errors
  components/audio/conversation/ConversationView.tsx
  package-lock.json
  package.json
Labels: frontend, infrastructure, audio

[INF-001] fix: resolve CI/CD pipeline errors
  components/audio/conversation/ConversationView.tsx
  package-lock.json
  package.json
Labels: frontend, infrastructure, audio

[INF-001] fix: resolve CI/CD pipeline errors
  components/audio/conversation/ConversationView.tsx
  package-lock.json
  package.json
Labels: frontend, infrastructure, audio

[FE-009] Improve accessibility of RecordButton by adding aria-pressed and explicit labels
  components/ui/RecordButton.tsx
Labels: frontend, ui

[FE-009] Improve accessibility of RecordButton by adding aria-pressed and explicit labels
  components/ui/RecordButton.tsx
Labels: frontend, ui

[FE-009] Improve accessibility of RecordButton by adding aria-pressed and explicit labels
  components/ui/RecordButton.tsx
Labels: frontend, ui

[FE-010] Lazy-load AudioControls to reduce initial bundle size and prevent unnecessary audio code on first paint
  components/forms/ThoughtInputForm.tsx
Labels: frontend

[FE-010] Lazy-load AudioControls to reduce initial bundle size and prevent unnecessary audio code on first paint
  components/forms/ThoughtInputForm.tsx
Labels: frontend

[FE-010] Lazy-load AudioControls to reduce initial bundle size and prevent unnecessary audio code on first paint
  components/forms/ThoughtInputForm.tsx
Labels: frontend

[INF-001] fix: update pnpm-lock.yaml with @types/testing-library__jest-dom
  pnpm-lock.yaml
Labels: infrastructure

[INF-001] fix: update pnpm-lock.yaml with @types/testing-library__jest-dom
  pnpm-lock.yaml
Labels: infrastructure

[INF-001] fix: update pnpm-lock.yaml with @types/testing-library__jest-dom
  pnpm-lock.yaml
Labels: infrastructure

[FE-009] fix: update pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Labels: infrastructure

[FE-009] fix: update pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Labels: infrastructure

[FE-009] fix: update pnpm-lock.yaml to match package.json
  pnpm-lock.yaml
Labels: infrastructure

[INF-001] fix: resolve TypeScript errors in CI
  components/error/ErrorFallback.test.tsx
  components/error/RootErrorBoundary.test.tsx
  components/forms/ThoughtInputForm.tsx
Labels: frontend, testing

[INF-001] fix: resolve TypeScript errors in CI
  components/error/ErrorFallback.test.tsx
  components/error/RootErrorBoundary.test.tsx
  components/forms/ThoughtInputForm.tsx
Labels: frontend, testing

[INF-001] fix: resolve TypeScript errors in CI
  components/error/ErrorFallback.test.tsx
  components/error/RootErrorBoundary.test.tsx
  components/forms/ThoughtInputForm.tsx
Labels: frontend, testing

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade unescaped entities to warnings
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: downgrade ESLint errors to warnings for CI
  .eslintrc.json
Labels: none

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[INF-001] fix: make security scan SARIF upload conditional
  .github/workflows/ci.yml
Labels: infrastructure

[ALL-001] refactor: consolidate documentation and update CLAUDE.md
  AUDIO_INTEGRATION_PLAN.md
  AUDIO_UX_DESIGN.md
  CLAUDE.md
  README.md
Labels: documentation

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
