Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

[FE-191] Create centralized API module structure
  PR_195_REVIEW_REPORT.md
  frontend/lib/api/client.ts
  frontend/lib/api/config.ts
  frontend/lib/api/errors.ts
  frontend/lib/api/index.ts
  frontend/lib/api/types.ts
  frontend/lib/utils/session.ts
Labels: documentation

[FE-191] Refactor SSE client to use centralized API module
  frontend/lib/streaming/sse-client.ts
Labels: none

[FE-191] Refactor SSE client to use centralized API module
  frontend/lib/streaming/sse-client.ts
Labels: none

[FE-191] Refactor SSE client to use centralized API module
  frontend/lib/streaming/sse-client.ts
Labels: none

[FE-191] Update audio hook to use centralized API module
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Update audio hook to use centralized API module
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Update audio hook to use centralized API module
  frontend/lib/audio/use-natural-conversation.ts
Labels: audio

[FE-191] Clean up dead code from frontend
  frontend/app/styles/components/audio-controls.css
  frontend/app/styles/globals.css
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/index.ts
  frontend/components/ui/PdfChip.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-191] Clean up dead code from frontend
  frontend/app/styles/components/audio-controls.css
  frontend/app/styles/globals.css
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/index.ts
  frontend/components/ui/PdfChip.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-191] Clean up dead code from frontend
  frontend/app/styles/components/audio-controls.css
  frontend/app/styles/globals.css
  frontend/components/forms/AudioControls.tsx
  frontend/components/forms/index.ts
  frontend/components/ui/PdfChip.tsx
  frontend/components/ui/index.ts
Labels: audio

[FE-191] Update Components to use centralized ApiClient
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/lib/api/client.ts
Labels: audio

[FE-191] Update Components to use centralized ApiClient
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/lib/api/client.ts
Labels: audio

[FE-191] Update Components to use centralized ApiClient
  frontend/components/audio/conversation/ConversationIntegrated.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/ui/PdfDownloadButton.tsx
  frontend/lib/api/client.ts
Labels: audio

[FE-191] Consolidate API types exports in index file
  frontend/lib/api/index.ts
Labels: none

[FE-191] Consolidate API types exports in index file
  frontend/lib/api/index.ts
Labels: none

[FE-191] Consolidate API types exports in index file
  frontend/lib/api/index.ts
Labels: none

[FE-191] Address PR review comments for page.tsx
  PR_195_REVIEW_REPORT.md
  frontend/app/page.tsx
Labels: documentation

[FE-191] Address PR review comments for page.tsx
  PR_195_REVIEW_REPORT.md
  frontend/app/page.tsx
Labels: documentation

[FE-191] Address PR review comments for page.tsx
  PR_195_REVIEW_REPORT.md
  frontend/app/page.tsx
Labels: documentation

[FE-191] Address PR review comments - fix type safety and useEffect dependencies
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[FE-191] Address PR review comments - fix type safety and useEffect dependencies
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[FE-191] Address PR review comments - fix type safety and useEffect dependencies
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[FE-191] Apply Copilot suggestions - simplify cleanup and improve type assertion
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[FE-191] Apply Copilot suggestions - simplify cleanup and improve type assertion
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[FE-191] Apply Copilot suggestions - simplify cleanup and improve type assertion
  frontend/app/page.tsx
  frontend/lib/api/client.ts
Labels: none

[ALL-001] Add API type safety and Docker build improvements
  .gitignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/DOCKER_API_GENERATION.md
  docs/TYPESCRIPT_CLIENT_GENERATION.md
  frontend/Dockerfile
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  scripts/docker-build-with-schema.sh
Labels: testing, documentation

[ALL-001] Add API type safety and Docker build improvements
  .gitignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/DOCKER_API_GENERATION.md
  docs/TYPESCRIPT_CLIENT_GENERATION.md
  frontend/Dockerfile
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  scripts/docker-build-with-schema.sh
Labels: testing, documentation

[ALL-001] Add API type safety and Docker build improvements
  .gitignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/main.py
  backend/src/models/__init__.py
  backend/src/models/api.py
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/DOCKER_API_GENERATION.md
  docs/TYPESCRIPT_CLIENT_GENERATION.md
  frontend/Dockerfile
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  scripts/docker-build-with-schema.sh
Labels: testing, documentation

[ALL-001] Fix CI/CD workflow for API type safety
  .github/workflows/frontend-ci.yml
  backend/src/models/__init__.py
  frontend/package.json
Labels: infrastructure

[ALL-001] Fix CI/CD workflow for API type safety
  .github/workflows/frontend-ci.yml
  backend/src/models/__init__.py
  frontend/package.json
Labels: infrastructure

[ALL-001] Fix CI/CD workflow for API type safety
  .github/workflows/frontend-ci.yml
  backend/src/models/__init__.py
  frontend/package.json
Labels: infrastructure

[ALL-001] Add comprehensive tests for main.py to improve coverage
  backend/src/models/__init__.py
  backend/tests/test_main.py
  sprint.md
Labels: documentation

[ALL-001] Add comprehensive tests for main.py to improve coverage
  backend/src/models/__init__.py
  backend/tests/test_main.py
  sprint.md
Labels: documentation

[ALL-001] Add comprehensive tests for main.py to improve coverage
  backend/src/models/__init__.py
  backend/tests/test_main.py
  sprint.md
Labels: documentation

[ALL-001] Address PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/docker-build-with-schema.sh
Labels: testing

[ALL-001] Address PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/docker-build-with-schema.sh
Labels: testing

[ALL-001] Address PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/docker-build-with-schema.sh
Labels: testing

[ALL-197] Address remaining PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  docker-compose.override.yml
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: testing, documentation

[ALL-197] Address remaining PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  docker-compose.override.yml
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: testing, documentation

[ALL-197] Address remaining PR review comments
  backend/src/main.py
  backend/tests/test_main.py
  docker-compose.override.yml
  frontend/Dockerfile.multistage
  frontend/docs/API_CLIENT_MIGRATION.md
  frontend/lib/api/__tests__/generated-client.test.ts
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: testing, documentation
