Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

[ALL-198] Refactor tests for sessions.downloadPdf method
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

[ALL-198] Refactor tests for sessions.downloadPdf method
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

[ALL-198] Refactor tests for sessions.downloadPdf method
  frontend/lib/api/__tests__/generated-client.test.ts
Labels: testing

[FE-197] Add .eslintignore for generated API client files
  frontend/.eslintignore
Labels: none

[FE-197] Add .eslintignore for generated API client files
  frontend/.eslintignore
Labels: none

[FE-197] Add .eslintignore for generated API client files
  frontend/.eslintignore
Labels: none

[ALL-198] Address remaining PR review comments from second review
  backend/src/models/api.py
  docker-compose.override.yml
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: none

[ALL-198] Address remaining PR review comments from second review
  backend/src/models/api.py
  docker-compose.override.yml
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: none

[ALL-198] Address remaining PR review comments from second review
  backend/src/models/api.py
  docker-compose.override.yml
  frontend/lib/api/generated-client.ts
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error in Docker
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error in Docker
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error in Docker
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix export-openapi.sh directory path for Docker container
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix export-openapi.sh directory path for Docker container
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix export-openapi.sh directory path for Docker container
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error by creating exports directory with proper ownership
  backend/Dockerfile
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error by creating exports directory with proper ownership
  backend/Dockerfile
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix OpenAPI export permission error by creating exports directory with proper ownership
  backend/Dockerfile
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix volume permissions by running export as root
  docker-compose.override.yml
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix volume permissions by running export as root
  docker-compose.override.yml
  scripts/export-openapi.sh
Labels: none

[ALL-199] Fix volume permissions by running export as root
  docker-compose.override.yml
  scripts/export-openapi.sh
Labels: none

[ALL-200] Configure Cloud Run deployment with IAP protection
  .github/workflows/release-deploy.yml
  README.md
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/IAP_CONFIGURATION.md
  frontend/Dockerfile.standalone
  frontend/lib/api/generated-client.ts
  frontend/next.config.cloudrun.mjs
  frontend/openapi-temp.json
  scripts/check-github-secrets.sh
  scripts/setup-gcp-infrastructure.sh
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure

[ALL-200] Configure Cloud Run deployment with IAP protection
  .github/workflows/release-deploy.yml
  README.md
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/IAP_CONFIGURATION.md
  frontend/Dockerfile.standalone
  frontend/lib/api/generated-client.ts
  frontend/next.config.cloudrun.mjs
  frontend/openapi-temp.json
  scripts/check-github-secrets.sh
  scripts/setup-gcp-infrastructure.sh
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure

[ALL-200] Configure Cloud Run deployment with IAP protection
  .github/workflows/release-deploy.yml
  README.md
  docker-compose.override.yml
  docker-compose.prod.yml
  docs/IAP_CONFIGURATION.md
  frontend/Dockerfile.standalone
  frontend/lib/api/generated-client.ts
  frontend/next.config.cloudrun.mjs
  frontend/openapi-temp.json
  scripts/check-github-secrets.sh
  scripts/setup-gcp-infrastructure.sh
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure

[ALL-200] Fix failing tests by removing .js extension from imports
  frontend/lib/api/generated-client.ts
Labels: none

[ALL-200] Fix failing tests by removing .js extension from imports
  frontend/lib/api/generated-client.ts
Labels: none

[ALL-200] Fix failing tests by removing .js extension from imports
  frontend/lib/api/generated-client.ts
Labels: none

[ALL-201] Fix pnpm CI error by removing workspaces field
  package.json
Labels: infrastructure

[ALL-201] Fix pnpm CI error by removing workspaces field
  package.json
Labels: infrastructure

[ALL-201] Fix pnpm CI error by removing workspaces field
  package.json
Labels: infrastructure

[ALL-202] Fix workflow syntax error in build-args
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-202] Fix workflow syntax error in build-args
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-202] Fix workflow syntax error in build-args
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-203] Fix CI tests by generating API client before tests
  frontend/openapi-temp.json
  frontend/package.json
Labels: none

[ALL-203] Fix CI tests by generating API client before tests
  frontend/openapi-temp.json
  frontend/package.json
Labels: none

[ALL-203] Fix CI tests by generating API client before tests
  frontend/openapi-temp.json
  frontend/package.json
Labels: none

[ALL-204] Fix Docker build by using complete OpenAPI schema
  frontend/Dockerfile.standalone
Labels: none

[ALL-204] Fix Docker build by using complete OpenAPI schema
  frontend/Dockerfile.standalone
Labels: none

[ALL-204] Fix Docker build by using complete OpenAPI schema
  frontend/Dockerfile.standalone
Labels: none

[ALL-205] Fix gcloud env vars syntax error
  .github/workflows/release-deploy.yml
  docs/WORKLOAD_IDENTITY_FEDERATION.md
  scripts/setup-workload-identity.sh
Labels: documentation, infrastructure
