Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

[ALL-001] Add error.txt to .gitignore
  .gitignore
Labels: none

[ALL-001] Add error.txt to .gitignore
  .gitignore
Labels: none

[ALL-001] Implement aggressive caching across all CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Implement aggressive caching across all CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Implement aggressive caching across all CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix WebKit-specific input handling in voice tests
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix WebKit-specific input handling in voice tests
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-001] Fix WebKit-specific input handling in voice tests
  playwright-js/tests/voice-network-resilience.spec.js
Labels: audio

[ALL-212] Enable pytest-xdist for parallel E2E test execution
  .github/workflows/e2e-tests.yml
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/conftest.py
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/test_parallel_verify.py
Labels: documentation, infrastructure, performance

[ALL-212] Enable pytest-xdist for parallel E2E test execution
  .github/workflows/e2e-tests.yml
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/conftest.py
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/test_parallel_verify.py
Labels: documentation, infrastructure, performance

[ALL-212] Enable pytest-xdist for parallel E2E test execution
  .github/workflows/e2e-tests.yml
  tests/e2e/README_PARALLEL_TESTS.md
  tests/e2e/conftest.py
  tests/e2e/measure_performance.py
  tests/e2e/pytest.ini
  tests/e2e/test_parallel_verify.py
Labels: documentation, infrastructure, performance

[ALL-212] Update all GitHub Actions workflows to use self-hosted runners
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-212] Update all GitHub Actions workflows to use self-hosted runners
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-212] Update all GitHub Actions workflows to use self-hosted runners
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-001] Fix Python setup for self-hosted runners on Ubuntu 23.10
  .github/workflows/e2e-tests.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-001] Fix Python setup for self-hosted runners on Ubuntu 23.10
  .github/workflows/e2e-tests.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-001] Fix Python setup for self-hosted runners on Ubuntu 23.10
  .github/workflows/e2e-tests.yml
  .github/workflows/release-deploy.yml
Labels: infrastructure

[ALL-001] Fix Python venv creation error in E2E tests
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[ALL-001] Fix Python venv creation error in E2E tests
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[ALL-001] Fix Python venv creation error in E2E tests
  .github/workflows/e2e-tests.yml
Labels: infrastructure

[ALL-001] Remove WebKit from voice tests on Linux self-hosted runners
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-001] Remove WebKit from voice tests on Linux self-hosted runners
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-001] Remove WebKit from voice tests on Linux self-hosted runners
  .github/workflows/voice-playwright-tests.yml
Labels: infrastructure, audio

[ALL-212] Implement voice/audio functionality improvements
  backend/docs/examples/audio_config_example.py
  backend/docs/examples/update_main_with_voice.md
  backend/docs/streaming_implementation_plan.md
  backend/docs/streaming_implementation_plan_final.md
  backend/docs/streaming_implementation_plan_v2.md
  backend/src/config.py
  backend/src/main.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/session_manager.py
  backend/src/voice/__init__.py
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  backend/tests/test_audio_security.py
  backend/tests/test_main.py
  backend/tests/test_performance_monitor.py
  backend/tests/test_text_router.py
  backend/tests/test_voice_router.py
  backend/tests/test_voice_session_manager.py
  docs/HANDOFF.md
  frontend/lib/audio/use-natural-conversation.ts
Labels: documentation, audio, performance

[ALL-212] Implement voice/audio functionality improvements
  backend/docs/examples/audio_config_example.py
  backend/docs/examples/update_main_with_voice.md
  backend/docs/streaming_implementation_plan.md
  backend/docs/streaming_implementation_plan_final.md
  backend/docs/streaming_implementation_plan_v2.md
  backend/src/config.py
  backend/src/main.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/session_manager.py
  backend/src/voice/__init__.py
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  backend/tests/test_audio_security.py
  backend/tests/test_main.py
  backend/tests/test_performance_monitor.py
  backend/tests/test_text_router.py
  backend/tests/test_voice_router.py
  backend/tests/test_voice_session_manager.py
  docs/HANDOFF.md
  frontend/lib/audio/use-natural-conversation.ts
Labels: documentation, audio, performance

[ALL-212] Implement voice/audio functionality improvements
  backend/docs/examples/audio_config_example.py
  backend/docs/examples/update_main_with_voice.md
  backend/docs/streaming_implementation_plan.md
  backend/docs/streaming_implementation_plan_final.md
  backend/docs/streaming_implementation_plan_v2.md
  backend/src/config.py
  backend/src/main.py
  backend/src/text/__init__.py
  backend/src/text/router.py
  backend/src/utils/session_manager.py
  backend/src/voice/__init__.py
  backend/src/voice/models.py
  backend/src/voice/router.py
  backend/src/voice/session_manager.py
  backend/src/voice/stream_handler.py
  backend/tests/load/test_voice_concurrency.py
  backend/tests/test_audio_error_handling.py
  backend/tests/test_audio_roundtrip.py
  backend/tests/test_main.py
  backend/tests/test_performance_monitor.py
  backend/tests/test_text_router.py
  backend/tests/test_voice_router.py
  backend/tests/test_voice_session_manager.py
  docs/HANDOFF.md
  frontend/lib/audio/use-natural-conversation.ts
Labels: documentation, audio, performance

[ALL-212] Fix remaining ESLint warnings in frontend
  frontend/app/about/page.tsx
  frontend/app/learn-cbt/page.tsx
  frontend/app/privacy/page.tsx
  frontend/components/audio/conversation/__tests__/ConversationView.test.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
  frontend/components/ui/AudioVisualizer.tsx
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-utils.ts
  frontend/lib/audio/use-audio-recorder.ts
  frontend/lib/logger.ts
  frontend/lib/streaming/session-manager.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
Labels: testing, audio

[ALL-212] Fix remaining ESLint warnings in frontend
  frontend/app/about/page.tsx
  frontend/app/learn-cbt/page.tsx
  frontend/app/privacy/page.tsx
  frontend/components/audio/conversation/__tests__/ConversationView.test.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
  frontend/components/ui/AudioVisualizer.tsx
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-utils.ts
  frontend/lib/audio/use-audio-recorder.ts
  frontend/lib/logger.ts
  frontend/lib/streaming/session-manager.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
Labels: testing, audio

[ALL-212] Fix remaining ESLint warnings in frontend
  frontend/app/about/page.tsx
  frontend/app/learn-cbt/page.tsx
  frontend/app/privacy/page.tsx
  frontend/components/audio/conversation/__tests__/ConversationView.test.tsx
  frontend/components/forms/ThoughtInputForm.tsx
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
  frontend/components/ui/AudioVisualizer.tsx
  frontend/lib/audio/audio-debug.ts
  frontend/lib/audio/audio-types.ts
  frontend/lib/audio/audio-utils.ts
  frontend/lib/audio/use-audio-recorder.ts
  frontend/lib/logger.ts
  frontend/lib/streaming/session-manager.ts
  frontend/lib/streaming/sse-client.ts
  frontend/lib/streaming/streaming-utils.ts
  frontend/lib/streaming/use-sse-client.ts
Labels: testing, audio

[ALL-212] Disable unused GitHub workflows
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-212] Disable unused GitHub workflows
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-212] Disable unused GitHub workflows
  .github/workflows/release-deploy.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/voice-load-tests.yml
  .github/workflows/voice-playwright-tests.yml
  .github/workflows/voice-tests.yml
Labels: infrastructure, audio

[ALL-212] Add workflow-level concurrency to enabled CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
Labels: infrastructure

[ALL-212] Add workflow-level concurrency to enabled CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
Labels: infrastructure

[ALL-212] Add workflow-level concurrency to enabled CI workflows
  .github/workflows/backend-ci.yml
  .github/workflows/ci-monorepo.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-ci.yml
Labels: infrastructure

[ALL-212] Add new disabled workflows for voice testing
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/voice-load-tests.yml.disabled
  .github/workflows/voice-playwright-tests.yml.disabled
  .github/workflows/voice-tests.yml.disabled
Labels: infrastructure, audio

[ALL-212] Add new disabled workflows for voice testing
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/voice-load-tests.yml.disabled
  .github/workflows/voice-playwright-tests.yml.disabled
  .github/workflows/voice-tests.yml.disabled
Labels: infrastructure, audio

[ALL-212] Add new disabled workflows for voice testing
  .github/workflows/e2e-tests.yml.disabled
  .github/workflows/voice-load-tests.yml.disabled
  .github/workflows/voice-playwright-tests.yml.disabled
  .github/workflows/voice-tests.yml.disabled
Labels: infrastructure, audio

[ALL-212] Fix TypeScript errors in frontend test mocks
  docs/HANDOFF.md
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, documentation, audio

[ALL-212] Fix TypeScript errors in frontend test mocks
  docs/HANDOFF.md
  frontend/components/forms/__tests__/ThoughtInputForm.audio.test.tsx
Labels: testing, documentation, audio

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'
