Repository carlos-crespo-macaya/re-frame, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, testing, documentation, infrastructure, accessibility, audio, ui, performance

.github/labeler.yml:

# Add 'frontend' label to any changes within 'app', 'components', 'lib' folders
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - app/**
      - components/**
      - lib/**
      - '*.tsx'
      - '*.ts'
      - '*.css'

# Add 'testing' label to any test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/__tests__/**'
      - jest.config.js

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**

# Add 'infrastructure' label to CI/CD and config changes
infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - firebase.json
      - .firebaserc
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json
      - next.config.js

# Add 'accessibility' label to accessibility-related changes
accessibility:
  - changed-files:
    - any-glob-to-any-file:
      - '**/accessibility/**'
      - '**/*a11y*'
      - '**/*aria*'

# Add 'audio' label to audio-related changes
audio:
  - changed-files:
    - any-glob-to-any-file:
      - '**/audio/**'
      - '**/*audio*'
      - '**/*recording*'
      - '**/*voice*'

# Add 'ui' label to UI component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - components/ui/**
      - app/styles/**

# Add 'performance' label to performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*performance*'
      - '**/*optimize*'
      - '**/*lazy*'

Refactor: Improve copy and clarity across the app (#275)
  frontend/__tests__/i18n.keys.test.ts
  frontend/__tests__/i18n.wording.test.ts
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/page.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/en/reframe.json
  frontend/locales/es/about.json
  frontend/locales/es/common.json
  frontend/locales/es/home.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
  frontend/locales/es/reframe.json
  frontend/locales/es/support.json
  frontend/openapi-temp.json
Labels: testing

feat: enhance feedback submission with optional metadata and context
  backend/src/routes/feedback.py
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
Labels: none

chore: update license to Apache-2.0 and refactor feedback.py for improved readability
  README.md
  backend/src/routes/feedback.py
  frontend/app/globals.css
Labels: documentation

feat: integrate ImportantReminder component and enhance UI across multiple pages
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/about-client.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/learn-cbt/learn-cbt-client.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/components/icons/ChevronLeftIcon.tsx
  frontend/components/icons/FeedbackIcon.tsx
  frontend/components/icons/GlobeIcon.tsx
  frontend/components/icons/SendIcon.tsx
  frontend/components/icons/ThumbsDownIcon.tsx
  frontend/components/icons/ThumbsUpIcon.tsx
  frontend/components/icons/index.ts
  frontend/components/layout/AppLayout.tsx
  frontend/components/layout/Footer.tsx
  frontend/components/ui/ImportantReminder.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/es/about.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
Labels: testing

feat: enhance feedback model and logging in feedback.py
  backend/src/routes/feedback.py
  frontend/components/icons/ChevronLeftIcon.tsx
  frontend/components/icons/GlobeIcon.tsx
  frontend/components/icons/SendIcon.tsx
  frontend/components/icons/ThumbsDownIcon.tsx
  frontend/components/icons/ThumbsUpIcon.tsx
Labels: none

Refactor/improve feedback ux (#279)
  README.md
  backend/src/routes/feedback.py
  frontend/app/[locale]/__tests__/page.test.tsx
  frontend/app/[locale]/about/about-client.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/page.tsx
  frontend/app/[locale]/learn-cbt/learn-cbt-client.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/privacy/__tests__/page.test.tsx
  frontend/app/[locale]/privacy/privacy-client.tsx
  frontend/app/[locale]/support/support-client.tsx
  frontend/app/globals.css
  frontend/components/icons/ChevronLeftIcon.tsx
  frontend/components/icons/FeedbackIcon.tsx
  frontend/components/icons/GlobeIcon.tsx
  frontend/components/icons/SendIcon.tsx
  frontend/components/icons/ThumbsDownIcon.tsx
  frontend/components/icons/ThumbsUpIcon.tsx
  frontend/components/icons/index.ts
  frontend/components/layout/AppLayout.tsx
  frontend/components/layout/Footer.tsx
  frontend/components/ui/ImportantReminder.tsx
  frontend/locales/en/about.json
  frontend/locales/en/home.json
  frontend/locales/en/learn-cbt.json
  frontend/locales/en/privacy.json
  frontend/locales/es/about.json
  frontend/locales/es/learn-cbt.json
  frontend/locales/es/privacy.json
Labels: testing, documentation

Enhance chat feedback functionality and testing
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/__tests__/page.test.tsx
  frontend/app/[locale]/feedback/page.tsx
Labels: testing

Enhance chat feedback functionality and testing (#280)
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/feedback/__tests__/page.test.tsx
  frontend/app/[locale]/feedback/page.tsx
Labels: testing

feat(security): gate /chat & /feedback with server-verified reCAPTCHA; add local bypass
  frontend/.env.example
  frontend/app/[locale]/gate/page.tsx
  frontend/app/api/recaptcha/verify/route.ts
  frontend/middleware.ts
Labels: none

chore(deploy): pass reCAPTCHA secrets to frontend Cloud Run; default provider to classic in Dockerfile
  .github/workflows/deploy-cloudrun.yml
  frontend/Dockerfile.standalone
Labels: infrastructure

refactor(middleware): generalize locale regex using locales array for /chat and /feedback
  frontend/middleware.ts
Labels: none

chore(deploy): use separate --set-env-vars flags and map RECAPTCHA_SECRET to expected RECAPTCHA_SECRET_KEY
  .github/workflows/deploy-cloudrun.yml
Labels: infrastructure

refactor(middleware): extract gate redirect helper; pre-escape locale regex and reuse single group var
  frontend/middleware.ts
Labels: none

feat(security): gate /chat & /feedback with server-verified reCAPTCHA; add local bypass (#281)
  .github/workflows/deploy-cloudrun.yml
  frontend/.env.example
  frontend/Dockerfile.standalone
  frontend/app/[locale]/gate/page.tsx
  frontend/app/api/recaptcha/verify/route.ts
  frontend/middleware.ts
Labels: infrastructure

gate: normalize redirect to current locale and add hard navigation fallback after verify; middleware: rewrite redirect on /{locale}/gate to avoid cross-locale flips
  frontend/app/[locale]/gate/page.tsx
  frontend/middleware.ts
Labels: none

gate: fix fallback navigation comparison to include query; normalize gate redirect regardless of DISABLED
  frontend/app/[locale]/gate/page.tsx
  frontend/middleware.ts
Labels: none

gate: normalize redirect to current locale and add hard navigation fallback after verify; middleware: rewrite redirect on /{locale}/gate to avoid cross-locale flips (#282)
  frontend/app/[locale]/gate/page.tsx
  frontend/middleware.ts
Labels: none

feat: implement simplified CBT orchestration with no-action philosophy
  IMPLEMENTATION_REPORT.md
  backend/src/agents/__init__.py
  backend/src/agents/adk_integration.py
  backend/src/agents/cbt_assistant.py
  backend/src/agents/composer.py
  backend/src/agents/crisis.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/kb/cards/cognitive_distortions.md
  backend/src/agents/kb/cards/reframing_principles.md
  backend/src/agents/kb/cards/summary_template.md
  backend/src/agents/orchestrator.py
  backend/src/agents/orchestrator.py.backup
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/state.py
  backend/src/agents/summary_agent.py
  backend/src/agents/ui_contract.py
  backend/tests/test_orchestrator_tools.py
Labels: documentation

fix: resolve unicode character issues in CBT orchestration
  backend/src/agents/composer.py
  backend/src/agents/orchestrator.py
  backend/src/agents/state.py
  backend/src/agents/summary_agent.py
  backend/src/agents/ui_contract.py
  backend/tests/test_orchestrator_tools.py
Labels: none

fix: update tests after removing action-oriented tools
  backend/tests/test_reframing_phase.py
  backend/tests/test_summary_phase.py
Labels: none

chore: lower coverage threshold from 75% to 70% in pyproject.toml
  backend/pyproject.toml
Labels: none

feat: enhance ADK integration with thread safety and improved response handling
  backend/src/agents/adk_integration.py
  backend/src/agents/cbt_assistant.py
  backend/src/agents/composer.py
  backend/src/agents/crisis.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/tests/test_summary_phase.py
Labels: none

refactor: update agent phases and remove action-oriented tools
  backend/src/agents/cbt_assistant.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/summary_agent.py
  backend/tests/test_discovery_phase.py
  backend/tests/test_greeting_agent_i18n.py
  backend/tests/test_greeting_phase.py
  backend/tests/test_phase_integration.py
  backend/tests/test_reframing_phase.py
  backend/tests/test_session_state.py
  backend/tests/test_summary_phase.py
Labels: none

refactor: remove PhaseManager and related tests
  backend/src/agents/phase_manager.py
  backend/src/agents/ui_contract.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_phase_manager.py
  backend/tests/test_summary_phase.py
  frontend/components/ui/PlaybackControls.tsx
Labels: none

chore: remove backup of orchestrator.py
  backend/src/agents/orchestrator.py.backup
Labels: none

refactor: simplify PlaybackControls test attributes
  frontend/components/ui/__tests__/PlaybackControls.test.tsx
Labels: testing

feat: implement simplified CBT orchestration with no-action philosophy (#283)
  IMPLEMENTATION_REPORT.md
  backend/pyproject.toml
  backend/src/agents/__init__.py
  backend/src/agents/adk_integration.py
  backend/src/agents/cbt_assistant.py
  backend/src/agents/composer.py
  backend/src/agents/crisis.py
  backend/src/agents/discovery_agent.py
  backend/src/agents/greeting_agent.py
  backend/src/agents/kb/cards/cognitive_distortions.md
  backend/src/agents/kb/cards/reframing_principles.md
  backend/src/agents/kb/cards/summary_template.md
  backend/src/agents/orchestrator.py
  backend/src/agents/phase_manager.py
  backend/src/agents/reframing_agent.py
  backend/src/agents/state.py
  backend/src/agents/summary_agent.py
  backend/src/agents/ui_contract.py
  backend/tests/test_agent_language_propagation.py
  backend/tests/test_discovery_phase.py
  backend/tests/test_greeting_agent_i18n.py
  backend/tests/test_greeting_phase.py
  backend/tests/test_orchestrator_tools.py
  backend/tests/test_phase_integration.py
  backend/tests/test_phase_manager.py
  backend/tests/test_reframing_phase.py
  backend/tests/test_session_state.py
  backend/tests/test_summary_phase.py
  frontend/components/ui/PlaybackControls.tsx
  frontend/components/ui/__tests__/PlaybackControls.test.tsx
Labels: testing, documentation

refactor: streamline ChatClient feedback submission by removing 'Skip note' button
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/support/support-client.tsx
Labels: testing

text SSE: buffer raw chunks and emit sanitized <ui> content at turn_complete via orchestrator._extract_ui; remove frontend sanitization safety net
  backend/src/text/router.py
  frontend/app/[locale]/chat/chat-client.tsx
Labels: none

frontend chat: remove leftover sanitization helper; rely solely on backend <ui> extraction
  frontend/app/[locale]/chat/chat-client.tsx
Labels: none

refactor: update SSE endpoint to accumulate raw text across iterations and remove redundant initialization
  backend/src/text/router.py
  frontend/app/[locale]/chat/chat-client.tsx
Labels: none

refactor: streamline ChatClient feedback submission by removing 'Skip note' button (#284)
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
  frontend/app/[locale]/chat/chat-client.tsx
  frontend/app/[locale]/support/support-client.tsx
Labels: testing

text SSE: flush buffered text on STREAM_END and include mime_type on sanitized messages; use asyncio.TimeoutError for queue poll
  backend/src/text/router.py
Labels: none

refactor(tests): enhance ChatClient feedback tests for button accessibility
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
Labels: testing

fix/sse sanitize ui (#285)
  backend/src/text/router.py
  frontend/app/[locale]/chat/__tests__/chat-client.test.tsx
  frontend/app/[locale]/chat/chat-client.tsx
Labels: testing

orchestrator: sanitize <ui> by stripping fenced code (tool_code/python/any) and <control>; fallback sanitization caps length
  backend/src/agents/orchestrator.py
Labels: none

fix: correct typo in docstring for _sanitize_text function in orchestrator.py
  backend/src/agents/orchestrator.py
Labels: none

Fix/sse-sanitize-ui (#286)
  backend/src/agents/orchestrator.py
Labels: none

enhance: add logging for text sanitization and UI extraction in orchestrator.py
  backend/src/agents/orchestrator.py
Labels: none

Fix/sse sanitize UI (#287)
  backend/src/agents/orchestrator.py
Labels: none
